.disabled-elements-JS {

  input,
  select,
  textarea {

    &:disabled {
      background-color: lighten($color-gray, 40%);
      color: darken($color-white, 15%);
      cursor: default;

      &::placeholder {
        color: darken($color-white, 15%);
      }
    }
  }
}

.disabled-elements-JS select:disabled ~ .select-textbox {
  background-color: lighten($color-gray, 40%);
  color: darken($color-white, 15%);
  cursor: default;
}


.disabled-elements-preview-JS {
  position: relative;
  z-index: 1;
  transition: 300ms;
  filter: blur(3px);

  &--hidden {
    transition: 300ms;
    filter: blur(0)  !important;

    &::after {
      display: none !important;
    }
  }

  &::after {
    z-index: 2;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;

    cursor: default;
  }
}
