body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f1f2f2;
  color: #000000;
  font-family: $primary-font-family;
}

a {
  font-family: $primary-font-family;
}

p {
  font-size: 14px;
  font-family: $primary-font-family;
  color: $color-black;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $primary-font-family;
}

h1 {
  font-weight: 900 !important;
}

select {
  text-align:-moz-center;
  text-align:-webkit-center;
}

.parent---JS-remove {
  display: none;
}

.btn-back {
  display: none;
  position: relative;
  width: 70px;
  font-family: $primary-font-family;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-gray;
  cursor: pointer;
  transition: 200ms;

  svg {
    position: relative;
    margin-right: 8px;
    top: 1px;
    width: 12px;
    height: 10px;
    transform: rotate(180deg);
  }
  &:hover {
    transition: 200ms;
    color: $color-green;
  }
}

.feed---JS:empty {
  display: none;
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.section-clr-while {
  background-color: $color-white;
}

.container {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  transition: transform 500ms ease;
}


.slick-slide {

  div {

  }
  &:focus {
    outline: none;
  }
}
