@media (max-width: 450px) {
  .intro {
    h1 {
      padding-top: 61px;
      max-width: 270px;
      margin-bottom: 10px;
    }
  }
  .intro__list {
    margin-top: 14px;
  }
  .intro__btn-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .intro__btn {

    &:first-of-type,
    &:last-of-type {
      width: 100%;
      max-width: 100%;
      text-align: center;
      margin-left: 0;
    }
    &:first-of-type {
      margin-bottom: 10px;
      padding-right: 37px;

      &::after {
        right: 20%;
      }
    }
  }




  .features__item {
    padding-left: 63px;
    padding-right: 10px;

    &::before {
      width: 54px;
      height: 62px;
      top: 10px;
      left: -5px;
    }
    &:nth-child(2) {
      padding-bottom: 5px;
      h3 {
        margin-top: 12px;
      }
      &::before {
        width: 54px;
        height: 62px;
        top: 10px;
        left: 0px;
      }
    }
    &:nth-child(3) {
      padding-bottom: 0px;

      h3 {
        margin-top: 15px;
      }
      p {
        margin-bottom: 16px;
      }
    }
    &:nth-child(4) {
      padding-bottom: 0px;

      h3 {
        margin-top: 11px;
      }
      p {
        margin-bottom: 23px;
      }
    }

    &:nth-child(1) {
      &::before {
        width: 38px;
        height: 45px;
        top: 10px;
        left: 8px;
      }
    }
    &:nth-child(2) {
      h3 {
        padding: 0px;
      }
      &::before {
        width: 43px;
        height: 44px;
        top: 10px;
        left: 8px;
      }
    }
    &:nth-child(3) {
      &::before {
        width: 32px;
        height: 38px;
        top: 10px;
        left: 8px;
      }
    }
    &:nth-child(4) {
      &::before {
        width: 38px;
        height: 44px;
        top: 10px;
        left: 8px;
      }
    }

    h3 {
      letter-spacing: -0.7px;
      margin-top: 19px;
    }
    p {
      margin-bottom: 19px;
    }
  }
  .features__info {
    h2 {
      max-width: 300px;
    }
    p {
      max-width: 300px;
    }
    img {
      margin-top: 8px;
    }
  }



  .about {
    margin-top: 15px;
  }
  .about__bg {
    margin-top: 6px;
    width: 153px;
    min-width: 146px;
    height: 321px;
  }
  .about__list {
    padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 11px;
    padding-right: 10px;
    box-sizing: border-box;
    margin-top: 0;
    flex-direction: column;
    max-width: 220px;
    min-height: 326px;
  }
  .about__btn {
    margin-top: 27px;
  }

  .about__btn {
    &::after {
      right: 25%;
    }
  }

  .relationships__btn {
    &::after {
      right: 25%;
    }
  }

  .questions__subtitle {
    line-height: 18px;
  }
  .questions__item {
    padding: 17px 0;
  }

  .footer {
    padding: 15px;
  }
  .footer__nav {
    margin-bottom: 11px;
  }
  .footer__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    margin: 15px 7px;
    font-size: 10px;
    line-height: 24px;
    transition: 500ms ease;

    &:first-child {
      margin-left: 0;
    }
  }
  .footer__nav {
    width: 100%;
    flex: none;
    margin-bottom: 11px;
  }




  .deal-card__item {
    flex-wrap: wrap;
    margin: 5px 0;
    margin-left: 0px;

    img {
      width: 100%;
      max-width: 100%;
      max-height: 100%;
      min-height: 160px;
    }
  }
  .page-nav__btn-top {
    display: block;
    width: 100% !important;
    flex: none !important;
    text-align: right !important;
    margin-top: 10px !important;
  }
  .page-nav {
    flex-wrap: wrap;
    div {
      display: none;
    }
  }
  .page-nav__list {
    display: flex !important;
  }


  .footer__link {
    &:last-child {
      display: block;
      margin: 0;
      width: 100%;
      margin-left: 0;
    }
  }

  .select {
    width: 135px;
  }
  .intro__list-item {
    margin-top: 9px;
    margin-bottom: 8px;

    &:last-of-type {
      margin-bottom: 20px;
    }
  }
  .intro__btn:first-of-type {
    padding-right: 0px;

    span {
      margin-right: 31px;
    }
  }
  .features__item p {
    letter-spacing: 0;
    padding: 0 2px;
  }
  .features__item h3 {
    letter-spacing: 0;
  }
  .about__list {
    padding-right: 0;
    padding-left: 9px;
    min-height: 320px;
  }
  .about__item {
    line-height: 15px;
  }
  .about__btn {
    margin-top: 33px;
  }
  .limit .sticker {
    left: 0;
  }
  .limit__wrapper {
    height: 120px;
  }
  .limit__title {
    margin-top: 37px;
  }
  .featured-card__name {
    font-size: 16px;
    font-weight: 400;
  }

  footer.featured-card__wrapper .btn {
    font-size: 14px;

    &:last-child {
      padding: 26px 37px;
    }
  }
  .page-request {
    .intro {
      background-position: 0px -4px;
    }
    .intro .btn:last-child  {
      width: 100%;
      max-width: 100%;
    }

    .intro__list {
      margin-bottom: 9px;
      li {
        margin-bottom: 8px;
      }
    }
  }
  .operations {
    margin-top: -10px;
  }
  .operations__list {
    margin-top: 53px;
  }
  .operations__about {
    margin-top: 48px;
  }
  .operations__item {
    &:nth-child(1) {
      img {
        width: 183px;
        height: 189px;
      }
    }
    &:nth-child(2) {
      img {
        width: 188px;
        height: 189px;
      }
      .operations__about {
        margin-top: 52px;
      }
    }
    &:nth-child(3) {
      .operations__name {
        span {
          margin-top: 24px;
        }
      }
      .operations__about {
        margin-top: 41px;
      }
      img {
        width: 190px;
        height: 190px;
      }
    }
  }
  .intro__card-percent {
    &::after {
      top: 39px;
      right: 4px;
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
  .page-find-brokers {
    .page-nav div {
      display: block;

      &:first-child {
        flex: 2;
      }
    }
    .featured__cards {
      margin-left: -2px;
      margin-right: -2px;
    }
    .page-nav__btn-top {
      width: auto !important;
      flex: 1 !important;
      text-align: right !important;
      margin-top: 0 !important;
      margin-bottom: 5px;
    }

    .featured-card {
      width: 100% !important;
      margin: 7px 1%;

      &:nth-child(3),
      &:nth-child(4) {
        display: none;
      }
    }
    header.featured-card__wrapper {
      padding: 0px 23px;
      padding-top: 13px;
      padding-bottom: 5px;
      padding-left: 10px;
    }
    .featured__reputation {
      width: 100%;
    }
    main.featured-card__wrapper {
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 25px;
    }
    footer.featured-card__wrapper .btn {
      flex: 1;
      width: 50%;
      flex-basis: 50%;
      box-sizing: border-box;
      padding: 27px 14%;

      &:last-child {
        padding: 27px 15.5%;
      }
    }
    .featured-card__wrapper--footer {
      width: 100%;
    }
  }
  .rating__line {
    width: 86px;
  }

  .profile-header p {
    margin-bottom: 18px;
    &:first-child {
      margin-top: 10px;
    }
  }
  .profile-card {
    margin-top: 20px;
  }
  .profile-card__name {
    display: none;
  }

  .profile-card {
    .btn-back {
      display: none;
    }
    .profile-info__btn {
      display: none;
    }
  }

  .page-nav__list--hidden {
    display: none !important;
  }

  .page-broker-profile {
    .mobile-hide {
      display: block;
    }
    .header {
      margin-bottom: 0;
    }
    .page-nav {
      margin-top: -23px;
      margin-bottom: 10px;
    }
    .page-nav div {
      flex: 1;
      order: 2;
      display: block;
      margin-top: 12px !important;
    }
    .page-nav__list {
      order: 1 !important;
      flex: 2 100% !important;
    }
    .page-nav__btn-top {
      order: 3 !important;
      flex: 1 !important;
      margin-top: 8px !important;
      text-align: right !important;
    }
  }

  .modal-sign__btn, .modal-login__btn {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.4px;
    box-sizing: border-box;
    line-height: 40px;
    padding: 0;

  }

  .tabs-controls div {
    flex: 2;
  }
  .tabs-controls__label {
    min-width: 145px;
  }
  .request-tabs__submit {
    margin-bottom: 9px;
  }
  .my-request {

    .deal-card__item {
      margin: 12px 0;
    }
    .deal-card__img-wrapper {
      max-height: 150px;
    }
    .deal-card__wrapper--description p:nth-child(3) {
      margin-top: 6px;
      min-width: 60%;
      display: block;
    }
    .deal-card__buttons .btn {
      height: 64px;
      line-height: 60px;
    }
    .deal-card__buttons--ended-bids .btn:nth-child(3) {
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.8px;
      text-align: center;
    }
  }



  .request-card {
    margin-top: 20px;
  }
  .request-card__name {
    display: none;
  }

  .request-card {
    .btn-back {
      display: none;
    }
    .request-info__btn {
      display: none;
    }
  }
  .request-header p {
    margin-bottom: 18px;
    &:first-child {
      margin-top: 10px;
    }
  }
  .request-info {
    flex-direction: row;
    flex-wrap: wrap;

    p {
      margin: 6px 0px !important;
    }
  }
  .request-header__hint {
    max-width: 126px;

    &::after {
      bottom: 70%;
      transform: translateY(0) rotate(45deg);
    }
  }
  .request-header__name {
    vertical-align: top;
  }
  .request-header__img {
    vertical-align: top;
  }
  .request-header p {
    margin-bottom: 4px;
  }
  .request-header p:nth-of-type(1) {
    margin-top: -27px;
  }
  .choose-broker__info {
    padding-left: 10px !important;
  }
  .choose-broker__comments {
    padding: 0 10px;
  }

  .page-profile {
    .profile-card .btn-back {
      display: block;
      text-align: left;
      margin-right: 5px;
    }
    .profile-card__image-wrapper {
      height: 300px;
    }
    .profile-form__label-name {
      flex-basis: 100%;
    }
    .profile-form__label--email {
      .profile-form__label-name {
        flex-basis: 30%;
      }
    }
    .profile-form__label--textarea {
      margin-bottom: 15px;
    }
    .profile-form__label--checkbox {
      margin-bottom: 15px;
      .profile-form__label-name {
        flex-basis: 50%;
      }
    }
  }


  .page-broker-registration {
    .preview {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .preview__title {
      margin-top: 2px;
      font-size: 20px;
    }
    .preview__text {
      font-size: 14px;
    }
    .preview__steps {
      margin-top: 17px;
    }
    .preview__step {
      font-size: 14px;
      letter-spacing: 1.4px;
      height: 40px;
      line-height: 40px;
      padding-left: 10px;
      margin-right: 3px;

      &:hover {
        transition: 150ms;
        background-color: darken($color-bg-card-off, 20%);

        &::after {
          transition: 150ms;
          border-left: 9px solid darken($color-bg-card-off, 20%);
        }
      }

      &::before {
        border-top: 30px solid transparent;
        border-left: 12px solid white;
        border-bottom: 30px solid transparent;
      }
      &::after {
        right: -9px;
        border-top: 20px solid transparent;
        border-left: 9px solid $color-bg-card-off;
        border-bottom: 20px solid transparent;
      }
    }
    .preview__step--active::after {
      border-left: 9px solid $color-green;
    }
    .request__flex-wrapper--padding {
      padding: 0 10px;
    }
    .request__item {
      max-width: 100% !important;
      width: 100% !important;

      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6){
        max-width: 100% !important;
        width: 100% !important;
      }
    }
  }
}
