@media (max-width: 800px) {
  .intro__btn-wrapper {
    display: flex;
    width: 100%;

    a {
      flex: 1;
      max-width: 100% !important;
      min-width: auto;
      margin: 0 10px;
      box-sizing: border-box;


      &:first-of-type {
        margin-left: 0;
        letter-spacing: 1.4px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .footer {
    padding: 10px;
  }
  .container {
    padding: 0 10px;
  }
  .nav-menu {
    display: none;
  }
  .logo {

    &--hidden {
      margin-left: 6px;
      svg {
        width: 36px;
        height: 21px;
      }
    }
  }
  .header__wrapper {
    padding-left: 5px;
    margin-left: 0;
    height: 30px;
    padding: 5px 0;
  }
  .select {
    margin-left: 10px;

    label {
      padding: 5px 10px;
      font-size: 12px;

      &::after {
        top: 7px;
      }
    }
  }
  .select__btn {
    padding: 8px;
    margin-top: 4px;
    padding-top: 3px;
    padding-bottom: 3px;

    &::after {
      top: 5px;
      right: -8px;
    }
    &--open {
      &::after {
        top: 8px;
      }
    }
  }
  .select__list--open {
    bottom: -53px !important;
  }
  .burger {
    top: 8px;
  }




  .intro {
    margin-bottom: 30px;

    h1 {
      max-width: 310px;
      line-height: 36px;
      font-size: 30px;
      margin-bottom: 18px;
    }
  }
  .page-request .intro h1 {
    max-width: 310px;
    line-height: 36px;
    font-size: 30px;
    margin-bottom: 18px;
    padding-top: 23px;
  }
  .page-request .intro .btn:last-child {
    width: auto;
  }
  .intro__list {
    margin-bottom: 0px;
    margin-top: 23px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .intro__list-item {
    margin: 10px 0;

    &:last-of-type {
      margin-bottom: 15px;
    }
  }
  .intro__btn {
    display: inline-block;

    &:first-of-type {
      padding: 10px 0;
      padding-left: 20px;
      padding-right: 10px;
      margin-right: 5px;
      box-sizing: border-box;

      &::after {
        right: 20px;
      }
    }
    &:last-of-type {
      padding: 10px 0;
    }
  }




  .features {
    padding-bottom: 35px;
  }
  .features__item {
    padding-top: 0px;
    padding-right: 0;
    padding-left: 98px;
    padding-bottom: 7px;
    margin-bottom: 0px;
    text-align: left;

    &::before {
      width: 80px;
      height: 92px;
      top: 10px;
      left: -10px;
      transform: translateX(0%);
      background-size: cover;
    }

    &:nth-child(2) {
    padding-bottom: 22px;
    }
    &:nth-child(3) {
      padding-bottom: 20px;
    }

    &:nth-child(1) {
      &::before {
        width: 60px;
        height: 72px;
        top: 10px;
        left: 8px;
      }
    }
    &:nth-child(2) {
      h3 {
        padding: 0px;
      }
      &::before {
        width: 70px;
        height: 75px;
        top: 10px;
        left: 8px;
      }
    }
    &:nth-child(3) {
      &::before {
        width: 62px;
        height: 75px;
        top: 10px;
        left: 8px;
      }
    }
    &:nth-child(4) {
      &::before {
        width: 64px;
        height: 74px;
        top: 10px;
        left: 8px;
      }
    }

    h3 {
      font-size: 20px;
      line-height: 24px;
      margin: 0;
      margin-top: 13px;
      margin-bottom: 4px;
    }
    p {
      line-height: 15px;
      letter-spacing: -0.4px;
      font-size: 12px;
    }
  }
  .features__info {
    margin-top: 10px;

    h2 {
      max-width: 400px;
      margin: 0 auto;
      margin-top: 3px;
      text-align: center;
      line-height: 26px;
      font-size: 20px;
      flex: none;
    }
    p {
      max-width: 414px;
      margin: 0 auto;
      margin-top: 12px;
      text-align: center;
      line-height: 16px;
      font-size: 14px;
      flex: none;
    }
    img {
      height: auto;
      margin-top: 18px;
    }
  }



  .main__wrapper--gradient {
    margin-bottom: 0px;
  }
  .about {
    margin-top: 14px;
    margin-bottom: 20px;

    h2 {
      margin-top: 10px;
      font-size: 20px;
    }
    p {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0;
      padding: 0;
    }
  }
  .about__bg {
    float: left;
    margin-top: 0px;
    vertical-align: baseline;
    width: 220px;
    min-width: 220px;
    height: 460px;
    background-image: url('../img/bg-progress-mob.png');
  }
  .about__list {
    padding-top: 40px;
    padding-bottom: 25px;
    padding-left: 19px;
    padding-right: 10px;
    box-sizing: border-box;
    margin-top: 0;
    flex-direction: column;
    max-width: 300px;
    min-height: 460px;
  }
  .about__item {
    text-align: left;
    font-size: 12px;
  }
  .about__content {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .about__btn {
    width: 105%;
    max-width: 105%;
    margin: 0 auto;
    margin-top: 25px;
    padding: 10px 0;
    padding-left: 20px;
    padding-right: 50px;
    box-sizing: border-box;
    margin-left: -10px;

    &::after {
      right: 35%;
    }
  }
  .about__wrapper {
    overflow: hidden;
  }




  .relationships {
    margin-top: 21px;
    padding-bottom: 12px;

    h2 {
      margin-top: 15px;
      margin-right: 0;
      margin-bottom: 0px;
      font-size: 24px;
      line-height: 25px;
    }
  }
  .relationships__wrapper {
    flex-direction: column;
    text-align: center;

    p {
      margin-top: 15px;
      line-height: 16px;
      font-size: 14px;
    }
  }
  .relationships__btn {
    width: 95%;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 18px;
    padding: 10px 0;
    padding-left: 20px;
    padding-right: 50px;
    box-sizing: border-box;

    &::after {
      right: 35%;
    }
  }




  .questions {
    padding-top: 13px;
    margin-top: 0;
    padding-bottom: 70px;
  }
  .title {
    font-size: 20px;
    margin-bottom: 0;
  }
  .questions__subtitle {
    font-size: 14px;
    line-height: 20px;
  }
  .questions__text {
    font-size: 12px;
    line-height: 15px;
  }
  .questions__btn {
    top: 15px;
  }


  .header {
    position: relative;
  }
  .burger {
    display: flex;
  }
  .nav-menu {
    display: block;
    position: absolute;
    bottom: 200px;
    top: auto;
    width: 100%;
    z-index: 2;
    transition: 500ms ease;
  }
  .nav-menu__wrapper {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .nav-menu__link {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: $color-white;
    border-bottom: 2px solid #f1f2f2;

    &--active {
      color: #ffffff;
      background-color: #0cb175;
      transition: 500ms ease;
    }
    &--second {
      color: $color-white;
      background-color: $color-green;
      @include transition(300ms);

      &:hover {
        color: $color-white;
        background-color: darken($color-green, 20%);
      }
    }
  }
  .nav-menu__login-img {order: 1;}
  .nav-menu__link.my-balance {order: 2;}
  .nav-menu__link--first {order: 3;}
  .nav-menu__link--second {order: 4;}
  .nav-menu__login {order: 5;}
  .nav-menu__logout {order: 6;}

  .log-in--true {
    .nav-menu__link.my-balance {
      display: block;
    }
    .nav-menu__login-img {
      display: block;
    }
    .nav-menu__login {
      display: none;
    }
    .nav-menu__logout {
      display: block;
      &:hover {
        color: $color-green !important;
      }
    }
    .nav-menu--open {
      bottom: -250px !important;
    }
  }

  .select {
    position: inherit;
  }
  .select__list {
    position: absolute;
    z-index: 2;
    bottom: 300px;
    left: 0;
    width: 100%;
    margin-left: 0;
    box-sizing: border-box;
    text-align: center;
  }



  .search {
    position: relative;
    padding-top: 15px;
    padding-bottom: 29px;
  }
  .search--deals {
    // padding-top: 0;

    .search__form {
      position: relative;
      margin-top: -600px;
      opacity: 0;
      top: -300px;
    }
  }

  .search__submit {
    margin-top: 38px;
    flex-basis: calc(100%);
    max-width: calc(100%);
  }
  .search__item {
    flex-basis: calc(100%);
    max-width: calc(100%);
    margin-top: 24px;

    &--select {
      &::after {
        right: 13px;
        top: 40px;
      }
    }
  }
  .search__item--range input {
    width: 33%;
  }
  .search__item--range input:nth-of-type(2) {
    padding-right: 0;
  }
  .deal-card__item {
    flex-wrap: wrap;
    margin: 5px 0;
    margin-left: 0;

    img {
      width: 100%;
      max-width: 100%;
      max-height: 100%;
      min-height: 225px;
    }
  }
  .deal-card__borrower-item {
    width: 100%;
    flex: 500%;
    margin-top: 16px;
    padding-left: 0;
    margin-bottom: 20px;

    &::before {
      top: -43px;
    }
  }
  .deal-card__item {
    margin-right: 0;
    margin-left: 0;
  }
  .deal-card__wrapper--description {
    margin-left: 8px;
  }
  .deal-card__wrapper--description p:nth-of-type(2) {
    flex: 1;
    margin: 0;
  }
  .deal-card__wrapper--description p:nth-of-type(3) {
    flex: 1;
    margin: 0;
    margin-left: 20px;
  }
  .deal-card__wrapper p b {
    line-height: 24px;
  }
  .deal-card__description {
    margin-top: 14px;
    p {
      font-size: 16px;
      line-height: 20px;
      padding-right: 20px;
      letter-spacing: -0.4px;
    }
  }
  .deal-card__wrapper--controls {
    margin-top: 4px;
  }



  .search {
    padding-bottom: 29px;
  }
  .page-nav {
    margin-right: 0;
  }


  .page-request .intro__list {
    margin-top: 13px;
    margin-bottom: 32px;

    br {
      display: none;
    }
    li {
      width: auto;
      margin-bottom: 6px;
    }
  }
  .intro__card {
    width: 180px !important;
    margin: 0 5px;

    h4 {
      font-size: 16px;
    }
  }
  .intro__card .sticker {
    top: 72px;
    left: 0px;

    span {
      &::before {
        display: none;
      }
    }
  }
  .intro__card-percent {
    font-size: 60px;
    margin-top: 34px;

    &::before {
      top: 8px;
      right: 2px;
      font-size: 26px;
    }
    &::after {
      top: 37px;
      right: 0;
      font-size: 10px;
      font-weight: bold;
    }
  }
  .page-request .intro__card-list {
    margin-top: 22px;
  }
  .intro__card-info {
    flex-wrap: wrap;
    a {
      display: block;
      width: 100%;
    }
  }
  .intro__btn:first-of-type {
    padding-left: 12px;
    letter-spacing: 1px;
    padding-right: 0;
    width: 208px;
    margin-right: 0px;
  }
  .intro__card-info {
    justify-content: flex-start;
  }
  .intro__card-info a {
    margin-top: 12px;
    margin-left: 0;
    padding-right: 10px;
  }
  .intro__card .btn {
    margin-top: 19px;
    padding: 12px;
    font-size: 12px;
  }
  .page-request {
    .search {
      padding-top: 19px;
      padding-bottom: 10px;
      margin: 0 10px;
    }
    .search__wrapper {
      overflow: inherit;
    }
    .search__title {
      margin-bottom: 1px;
    }
    .search__item {
      margin-top: 25px;
      flex-basis: calc(100%);
      max-width: calc(100%);
      width: calc(100%);
    }
    .search__submit {
      padding: 0;
      max-height: 37px;
      line-height: 37px;
    }
    .search__form {
      flex-wrap: wrap;
      flex-direction: column;
    }
    .intro {
      padding-bottom: 14px;
    }
    .language__list {
      z-index: 1;
    }
    .limit__wrapper {
      margin-top: 10px;
    }
  }
  .limit__wrapper {
    height: 172px;
    padding-left: 10px;
    margin-bottom: 5px;
  }
  .limit .sticker {
    left: 10px;
    span {
      &::before {
        display: none;
      }
    }
  }
  .limit .btn {
    display: none;
  }
  .limit__title {
    max-width: 160px;
    margin-top: 60px;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
  }
  .featured__title {
    margin-top: 20px;
  }
  footer.featured-card__wrapper .btn {
    padding: 26px 28px;
    height: 86px;
  }
  .featured-card__img {
    width: 60px;
    height: 60px;
  }
  .featured {
    overflow: hidden;
  }
  .featured-card {
    margin: 20px 10px;
  }
  .featured__reputation {
    margin-top: 12px;
  }
  header.featured-card__wrapper {
    padding-top: 4px;
  }
  .featured-card__name {
    margin-left: 4px;
  }
  .featured-card__text {
    margin: 7px 0;
  }
  main.featured-card__wrapper {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .operations__wrapper {
    padding-bottom: 20px;
    background-size: 250% 1646px;
    background-position: top;
  }
  .operations__item {
    flex-wrap: wrap;
    margin-bottom: 33px;

    &:first-child {
      margin-bottom: 38px;
    }
    &:last-child {
      margin-bottom: 0;
      img {
        width: 244px;
        height: 244px;
      }
      .operations__name span {
        margin-top: 10px;
      }
      .operations__about {
        margin-top: 31px;
      }
    }
    &:nth-child(2) {
      margin-bottom: 40px;
      img {
        width: 250px;
        height: 253px;
        margin-right: 25px;
      }
      .operations__name span {
        margin-top: 20px;
      }
    }
  }
  .operations__name {
    flex-basis: 100%;
  }
  .operations__about {
    flex-basis: 100%;
    margin: 0 auto;
    margin-top: 30px;
  }
  .operations__title {
    padding-top: 18px;
    height: 55px;
  }
  .operations__list {
    margin-top: 20px;
  }
  .operations__img {
    &:nth-child(1) {
      width: 257px;
      height: 266px;
    }
    &:nth-child(2) {
      width: 250px;
      height: 253px;
    }
    &:nth-child(3) {
      width: 244px;
      height: 244px;
    }
  }
  .operations__name {
    max-height: 100%;
  }
  .operations__name span {
    margin-top: 21px;
  }
  .operations__name h4 {
    font-size: 24px;
    margin-top: 2px;
  }
  .operations__about {
    flex-basis: auto;
    width: 215px;
    height: 215px;
    padding: 10px 12px;
    box-sizing: border-box;
    margin-top: 28px;

     p {
       margin: 7px 0;
       font-size: 14px;
     }
  }
  .operations__btn {
    border-top: 1px solid #f1f2f2;
    width: 215px;
    height: 77px;
    font-size: 14px;
    border: none;

    span {
      &::after {
        right: -20px;
        font-size: 16px;
      }
    }
  }
  .featured-card {
    position:relative;
    padding-bottom: 86px;
    height: 401px;

    footer {
      position: absolute;
      bottom: 0;
    }
  }






  .page-find-brokers {
    .search {
      margin-bottom: 0;
      margin-top: 0;
      padding-bottom: 10px;
    }
    .search__item {
      margin-top: 29px;

      &:first-child {
        margin-top: 23px;
      }
    }
    .search__submit {
      width: 100%;
      margin-top: 30px;
      line-height: 40px;
      max-height: 40px;
      height: 40px;
      flex-basis: calc(100%);
      max-width: calc(100%);
      letter-spacing: 1.5px;
    }

    .featured__cards {
      margin-left: -10px;
      margin-right: -10px;
    }
    .featured-card {
      width: 211px !important;
      margin: 10px 2px;
      min-height: 385px;
      padding-bottom: 90px;
      height: auto;

      &:nth-of-type(5),
      &:nth-of-type(6),
      &:nth-of-type(7),
      &:nth-of-type(8) {
        display: none;
      }
    }
    .featured-card__name {
      font-size: 16px;
      margin-left: 10px;
    }
    .featured__reputation {
      margin-top: 10px;
      margin-left: -1px;
    }
    header.featured-card__wrapper {
      padding-top: 11px;
      padding-left: 11px;
    }
    main.featured-card__wrapper {
      padding-top: 10px;
      padding-left: 15px;
    }
    .featured-card__text {
      &:last-child {
        margin-top: 6px;
      }
    }
    .featured-card__wrapper {
      .btn {
        height: 87px;
        padding: 25px 20px;
        letter-spacing: 1px;
        flex: 1;
      }
    }
    .page-nav {
      margin-top: 21px;
      margin-bottom: 6px;
      flex-wrap: wrap;

      div {
        order: 2;
      }
    }
    .page-nav__list {
      width: 100%;
      flex: 1 auto;
      order: 1 !important;
      margin: 3px 0;
      margin-bottom: 13px;
    }
    .page-nav__btn-top {
      order: 3;
    }
  }


  .btn-back {
    position: relative;
    display: flex;
  }
  .readmore {
    display: inline-block !important;
    max-width: 550px;
    height: 100%;
    overflow: hidden;
    transition: height 200ms ease;
  }
  .morelink {
    display: inline !important;
    font-family: $primary-font-family;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $color-green;
  }
  .profile-card {
    flex: none;
    display: inline-block;
    width: 100%;
    position: relative;
    margin-top: 13px;
    margin-bottom: 5px;
  }
  .profile-card__image-wrapper {
    max-height: 521px;
    width: 100%;
    height: auto;
    min-height: 200px;
    max-height: 100%;
  }
  .profile-card__image {
    width: 100%;
    height: 100%;
    max-height: 430px;
  }
  .profile-card__name {
    margin-bottom: 5px;
    margin-top: 12px;
  }
  .profile-info {
    padding-top: 20px;

    p {
      margin-bottom: 14px;
    }
  }
  .profile-info__btn {
    height: 41px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.4px;
    box-sizing: border-box;

    &--hide {
      display: flex;
    }
  }
  .profile {
    width: 100%;
    box-sizing: border-box;
  }
  .profile-about {
    padding: 0;
    margin-left: 0;
    width: 100%;
    clear: both;
  }
  .profile-header {
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 5px;

    p {
      margin-bottom: 16px;
    }
  }
  .profile-header__wrapper {
    border: none !important;
  }
  .profile-header__wrapper:last-child {
    padding: 0;
  }
  .profile-info__description {
    p {
      padding-right: 0px;
    }
    h4 {
      margin-top: 10px;
      margin-bottom: 3px;
    }
  }
  .profile-info__description p {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    line-height: 14px;
  }
  .profile-info__options {
    margin-top: 0;
    flex-wrap: wrap;
  }
  .profile-info__rating {
    flex-basis: 100%;
  }
  .rating {
    justify-content: center;
  }
  .rating__custom-percent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-basis: 50%;
    margin: 0;
    height: 100%;
    max-height: 103px;
    box-sizing: border-box;
    border-bottom: 1px solid #d1d2d4;
  }
  .profile-info__btn-wrapper {
    flex: 1;
    flex-basis: 50%;
    max-height: 103px;
    border-bottom: 1px solid #d1d2d4;
  }
  .broker-feedback {
    margin-top: 125px;
  }
  .rating__line {
    width: 218px;
    margin: 0 8px;
  }
  .broker-feedback__title {
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 4px;
  }
  .broker-feedback__text {
    font-size: 12px;
  }
  .broker-feedback__no-feedbacks {
    padding-left: 0;
    margin-bottom: 24px;
    svg {
      width: 40px;
      height: 40px;
    }
    p {
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 14px;
      max-width: 250px;
      font-size: 14px;
    }
  }

  .page-nav__list--hidden {
    display: none !important;
  }
  .page-broker-profile {
    .header {
      margin-bottom: 5px;
    }
    .page-nav {
      flex-wrap: wrap;
    }
    .page-nav div:first-child {
      order: 2;
      flex: 1;
    }
    .page-nav__list {
      order: 1;
      flex: 2;
      width: 100%;
      flex-basis: 100%;
    }
    .page-nav__btn-top {
      order: 3;
      flex: 1;
    }
  }

  .modal-login,
  .modal-sign {
    width: 90%;
    margin-left: 0;
    box-sizing: border-box;
  }
  .modal-login {
    max-height: 280px;
  }
  .logo--modal {
    display: none;
  }
  .modal-login__title,
  .modal-sign__title {
    font-size: 20px;
  }
  .modal-login__text {
    margin-top: 5px;
  }
  .modal-login__form {
    margin-top: 20px;
  }
  .modal-login__input--password {
    padding-right: 70px;
    padding-left: 70px;
  }

  .modal-feedback {
    max-height: 510px;
    width: 90%;
    margin-left: 0;
    box-sizing: border-box;
    max-width: 380px;
    padding-bottom: 0;

    main {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .modal-feedback__img {
    display: inline-block;
    vertical-align: middle;
  }
  .modal-feedback__name {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 0;
  }
  .modal-feedback__stars {
    width: 170px;
    margin-top: 10px;
  }
  .modal-feedback__stars label svg {
    width: 30px;
    height: 30px;
  }
  .modal-thanks-review,
  .modal-thanks-cellphone {
    max-height: 290px;
    padding-top: 50px;
    padding-bottom: 30px;
    width: 90%;
    margin-left: 0;

    svg {
      width: 50px;
      height: 61px;
      fill: $color-green;
    }
    h4 {
      margin-top: 10px;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    }
  }
  .modal-registered,
  .modal-must-verified {
    max-height: 340px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
    margin-left: 0;

    .modal__btn {
      font-size: 14px;
      height: 40px;
      box-sizing: border-box;

    }
    svg {
      width: 50px;
      height: 61px;
      fill: $color-green;
    }
    h4 {
      margin-top: 10px;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    }
  }

  .preview {
    padding: 10px 10px;
  }
  .preview__title {
    font-size: 20px;
    margin: 0;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .preview__text {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .request__wrapper {
    margin: 10px 0;
  }
  .request__wrapper-show {
    margin-top: 0;
  }
  .request__select-wrapper::after {
    right: 11px;
  }
  .request__wrapper--padding {
    padding-bottom: 4px;
    }
  .request__wrapper--mortgage .request__title {
    box-sizing: border-box;
  }
  .request__title {
    padding: 10px 10px;
    padding-right: 15px;
    font-size: 16px;
    min-height: 40px;
    height: auto;
    line-height: normal;
    box-sizing: border-box;
  }
  .request__flex-wrapper {
    &--padding {
      padding: 0 10px;
    }
  }
  .request__wrapper--mortgage .request__flex-wrapper {
    flex-direction: column;
  }
  .request__item-text {
    font-size: 14px;
  }
  .request__flex-wrapper:first-of-type .request__item {
    width: 100%;
  }
  .request__select-wrapper {
    height: 40px;
  }
  .request__item input[type="text"], .request__item select, .request__item textarea {
    height: 40px;
    padding: 9px;
  }
  .request__textbox {
    padding: 10px 10px;
    padding-top: 12px;
  }
  .request__item--padding {
    padding: 0 10px;

    &:last-child {
      margin-bottom: 4px;
    }
  }
  .request__wrapper--mortgage .request__item {
    width: 100% !important;
    flex-basis: auto;
    min-width: auto;
  }
  .request__item--mortgage span {
    height: 60px;
  }
  .request__data-info {
    right: -20px;
  }
  .request__item--price {
    margin: 10px auto;
    height: 60px;
    margin-bottom: 7px;

    &::before {
      left: 5px;
      font-size: 18px;
    }

    input[type="text"] {
     font-size: 24px;
     padding: 14px;
     height: 100%;

     &::placeholder {
       font-size: 24px;
     }
   }
  }
  .request__title--data .request__data-info {
    right: -5px;
  }
  .request__data-info {
    &::before {
      min-width: 312px;
    }
  }
  .request__range-output {
    font-size: 60px;
    letter-spacing: 6px;
  }
  .request__item--range {
    margin-top: 10px;
    padding-bottom: 5px;
  }
  .request-range__wrapper li::before {
    font-size: 10px;
    letter-spacing: 1px;
    top: -18px;
  }
  .request-range__wrapper li::after {
    font-size: 10px;
    letter-spacing: 1px;
  }
  .request-range::after {
    font-size: 10px;
    letter-spacing: 1px;
    bottom: -9px;
    right: 4px;
  }
  .request__flex-wrapper--third {
    flex-wrap: wrap;
  }
  .request__flex-wrapper--third .request__item {
    height: auto;
  }
  .request__item--mortgage .request__item-text--height {
    height: 80px;
    padding-top: 8px;
    font-size: 12px;
    letter-spacing: 1.2px;

    i {
      font-size: 30px;
      letter-spacing: 3px;

      sup {
        font-size: 21px;
        top: -7px;
      }
    }
  }
  .request__title--data span {
    padding: 0 31px;
    box-sizing: border-box;
  }
  .request__wrapper--mortgage .request__item {

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      box-shadow: 0 1px 0 #f1f2f2;
    }
  }
  .request__item--single {
    margin: 9px 0;
  }
  .request__item--textarea {
    textarea {
      min-height: 135px;
    }
    i {
      margin-top: 0px;
    }
  }
  .request__info-wrapper {
    div {
     left: 28px;
     top: 17px;
   }
   p {
    font-size: 16px;
    font-weight: 600;
    padding-top: 55px;
    padding-left: 19px;
    padding-right: 20px;
    padding-bottom: 25px;
   }
  }
  .request__info-wrapper {
    margin-bottom: 10px;
  }
  .request__btn {
    padding-top: 10px;
    height: 40px;
    font-size: 16px;
    letter-spacing: 1.6px;
  }
  .request__btn-save {
    font-size: 14px;
    letter-spacing: 1.4px;
  }
  .page-post-request,
  .page-broker-registration {
    main {
      padding-bottom: 25px;
    }
  }


  .request-tabs__title {
    font-size: 20px;
    margin-bottom: 18px;
  }
  .request-tabs {
    padding-top: 15px;
  }
  .request-tabs__submit {
    height: 38px;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 38px;
    letter-spacing: 1.2px;
    margin-bottom: 12px;
  }
  .tabs-controls {
    flex-wrap: wrap;
  }
  .tabs-controls div {
    flex: 2;
  }
  .tabs-controls__label {
    height: 38px;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    box-shadow: none;
    box-shadow: 0 0 0 1px #f1f2f2;
  }
  input:checked ~ .tabs-controls__label {
    box-shadow: none;
    border: 1px solid $color-purple;
    cursor: default;
  }
  .request-tabs {
    padding-bottom: 8px;
  }


  .my-request {

    .deal-card__item {
      margin: 11px 0;
    }
    .deal-card__img-wrapper {
      width: 100%;
      max-width: 100%;
      max-height: 100%;
      max-height: 215px;
    }
    .deal-card__img {
      width: 100%;
      max-width: 100%;
      max-height: 100%;
      min-height: 100%;
    }
    .deal-card__wrapper--description {
      padding: 0;
    }
    .deal-card__wrapper--description {
      p {
        margin: 0;
        margin-top: 15px;
      }
      p:nth-child(1) {
        margin-right: 85px;
      }
    }
    .deal-card__description {
      margin-top: 5px;

      p {
        margin-top: 0;
      }
    }
    .deal-card__wrapper--controls {
      flex-direction: column;
      height: auto;
      margin-top: 15px;
    }
    .deal-card__wrapper-info {
      height: 60px;
      width: 100%;
      p {
        flex: 1;
      }
      p:first-child {
        padding: 0;
        max-width: none;
        box-sizing: border-box;
      }
      p:last-child {
        max-width: none;
      }
    }
    .deal-card__buttons {
      .btn {
        border-top: 1px solid #f1f2f2;
        height: 60px;
        line-height: 60px;
      }
    }
    .deal-card__item--draft .deal-card__buttons div {
      flex-basis: 20%;
    }
    .deal-card__buttons--ended-bids {
      flex-wrap: wrap;
      .btn {
        &:nth-child(3) {
          color: $color-green;
          min-width: 100%;

          &:hover {
            background-color: $color-green;
            color: $color-white;
          }
        }
      }
    }
    .deal-card__item--draft .deal-card__buttons--draft {
      .btn--color-purple {
        padding: 0 17px;
        min-height: 60px;
      }
    }
    .my-request__new-button {
      height: 100px;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1.6px;
      text-align: center;
    }
  }



  .request-card {
    flex: none;
    display: inline-block;
    width: 100%;
    position: relative;
    margin-top: 13px;
    margin-bottom: 17px;
  }
  .request-card__image-wrapper {
    max-height: 521px;
    width: 100%;
    height: auto;
    min-height: 200px;
    max-height: 100%;
  }
  .request-card__image {
    width: 100%;
    height: 100%;
    max-height: 350px;
    max-height: 215px;
  }
  .request-card__name {
    margin-bottom: 5px;
    margin-top: 12px;
  }
  .request-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-top: 16px;
    padding-left: 10px;

    p {
      margin: 0;
    }
  }
  .request-info__btn {
    height: 41px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.4px;
    box-sizing: border-box;
    padding-top: 13px;
  }

  .request-about {
    padding: 0;
    margin-left: 0;
    width: 100%;
    clear: both;
  }
  .request-header {
    flex-wrap: wrap;
    margin-bottom: 5px;
  }
  .request-header__wrapper {
    border: none !important;
    padding-right: 0;
  }
  .request-header__wrapper:last-child {
    padding: 0;
  }

  .page-request-details {
    .btn-back {
      margin-top: 18px;
    }
  }
  .request-details__name-wrapper {
    margin-top: 12px;
    font-size: 20px;
  }
  .request-details__name {
    font-size: 20px;
  }
  .request-details__name-wrapper {
    margin-bottom: 3px;
  }
  .request-card {
    margin-top: 0;
  }
  .request-info__timer {
    height: 75px;

    b {
      font-size: 24px;
    }
  }
  .request-header__hint {
    max-width: 255px;
  }
  .request-header__name {
    margin-right: 14px;
  }
  .request-header {
    flex-direction: row;
    p {
      margin-bottom: 3px;
      flex-basis: 50%;
      width: auto;

      &:nth-of-type(1) {
        order: 1;
        flex-basis: 100%;
      }
      &:nth-of-type(2) {
        order: 2;
        flex-basis: 100%;
      }
      &:nth-of-type(3) {
        order: 4;
        flex-basis: 50%;
      }
      &:nth-of-type(4) {
        order: 5;
        flex-basis: 50%;
      }
      &:nth-of-type(5) {
        order: 3;
        flex-basis: 100%;
      }
      &:nth-of-type(6) {
        order: 6;
      }
      &:nth-of-type(7) {
        order: 7;
      }
    }
  }
  .request-info__description {
    margin-top: 24px;
    margin-bottom: 0px;
  }
  .request-info__description h4 {
    margin-bottom: 0;
  }
  .request-hint__wrapper h4 {
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 15px
  }
  .request__info-wrapper {
    margin: 0 2px;
  }
  .good-to-know p {
    font-size: 12px;
    padding-top: 33px;
    padding-left: 12px;
    padding-right: 14px;
    padding-bottom: 15px;
  }
  .request__info-wrapper div {
    top: 8px;
  }
  .good-to-know div {
    padding-left: 2px;
  }
  .good-to-know div svg {
    width: 12px;
    height: 16px;
    left: -19px;
  }
  .request-hint__brokers-list {
    padding: 0;
  }
  .request-hint__broker {
    margin: 11px 0;
  }
  .request-hint__brokers-list {
    margin-top: 5px;
  }
  .choose-broker__img-wrapper {
    padding-left: 12px;
    min-height: 80px;
  }
  .choose-broker__star {
    min-height: 80px;
    border: none;
    align-items: flex-end;
    padding-top: 26px;
    padding-right: 10px;
    b {
      font-size: 16px;
    }
    span:last-child {
      display: none;
    }
    svg {
      width: 17px;
      height: 17px;
    }
  }
  .choose-broker__info {
    height: 61px;
  }
  .choose-broker__comments {
    margin-top: 11px;

    p {
      font-size: 14px;
    }
  }
  .choose-broker__btn {
    height: 40px;
    min-height: 40px;
    font-size: 12px;
    letter-spacing: 1.2px;
  }
  .request-hint {
    margin-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: -10px;
    margin-left: -10px;
  }
  .request-hint__wrapper {
    margin: 0 auto;
  }
  .request__hint-wrapper p {
    font-size: 16px;
    font-weight: 600;
    padding-top: 50px;
    padding-left: 12px;
    padding-right: 14px;
    padding-bottom: 4px;
  }
  .request__hint-wrapper {
    margin-bottom: 10px;

    div {
      left: 27px;
      top: 12px;

      span {
        margin-left: 12px;
      }
    }
    div svg {
      width: 24px;
      height: 32px;
      margin-right: 10px;
    }
  }



  .disabled-elements-preview-JS {
    .request__wrapper-show {
      position: relative;
      z-index: 1;
      margin-top: 0;
      transition: 300ms;
      filter: blur(3px);
      animation: none;

      &::after {
        z-index: 2;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: transparent;

        cursor: default;
      }
    }

    &--hidden {
      margin-top: 0;
      .request__wrapper-show {
        position: relative;
        display: block;
        transition: 300ms;
        filter: blur(0)  !important;
        animation: none;

        &::after {
          display: none !important;
        }
      }
    }
  }

  .page-profile {
    .profile-card {
      margin-top: 18px;
      margin-bottom: 9px;
    }
    .profile-card__title {
      margin-top: 13px;
      margin-bottom: 4px;
    }
    .profile-card__image-wrapper {
      height: 430px;
    }
    .profile-card__label svg {
      width: 16px;
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      margin-right: 8px;
    }
    .profile-card__btn-wrapper {
      margin-top: 10px;
      width: 100%;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    .profile-card__btn {
      margin-top: 0;
      padding: 0 8px;
      height: 39px;
    }
    .good-to-know {
      p {
        font-size: 14px;
        padding: 60px 12px;
        padding-bottom: 5px;
        line-height: 16px;
      }
      div {
        top: 17px;
      }
    }
    .profile-form__label {
      margin-bottom: 27px;
    }
    .profile-form__label--half {
      flex-basis: 100%;
    }
    .profile-form__textarea {
      min-height: 100px;
    }
    .profile-form__label--checkbox {
      flex-basis: auto;
    }
    .profile-form__btn-wrapper {
      flex-basis: 100%;
      margin-bottom: 10px;

      label {
        height: 40px;
      }
    }
    .profile-form__btn {
      height: 100%;
    }
  }

  .modal-password,
  .modal-cellphone,
  .modal-cellphone-code {
    box-sizing: border-box;
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0;
  }
  .modal-password__title,
  .modal-cellphone__title,
  .modal-cellphone-code__title {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .modal-cellphone-code__form {
    label {
      display: block;
      width: 80%;
      margin: 7px auto;
    }
  }

  .modal-cellphone-code__btn {
    width: 80%;
    margin: 0 auto;
  }


  .page-broker-registration {
    .request__flex-wrapper--padding {
      padding: 0 10px;
    }
    .request__item--language .language__btn {
      height: 40px;
    }
    .request__item--language .language__list {
      top: 62px;
    }
    .request__wrapper--introduce .request__item,
    .request__wrapper--about .request__item {
      max-width: 100%;
    }
  }
}
