@media (max-width: $device-lg-width + 82px) {

  .search {
    position: relative;
    padding-top: 15px;
    padding-bottom: 36px;
  }
  .search__popular {
    display: block;
  }
  .search--deals {
    .search__form {
      margin-top: -382px;
      opacity: 0;
      top: -300px;
      position: relative;
    }
  }
  .search__button {
    display: block;
  }

  .search__submit {
    flex-basis: calc(50% - 14px);
    max-width: calc(50% - 14px);
  }
  .search__item {
    flex-basis: calc(50% - 14px);
    max-width: calc(50% - 14px);

    &--range {
      flex-basis: 100%;
      max-width: 100%;
      width: 100%;

      input {
        width: 47%;
      }
    }
  }


  .deal-card__info {
    flex-wrap: wrap;
  }
  .deal-card__wrapper {
    width: auto;

    &--controls {
      border-top: 1px solid #f1f2f2;
      margin-top: 14px;
      flex-direction: row;
      max-width: 100%;
      width: 100%;

      p {
        border-bottom: none;
        border-left: none;

        &:first-of-type {
          padding: 10px 0;

          b {
            font-size: 20px;
          }
        }
        &:last-of-type {
          border-right: none;
        }

        a {
          &::after {
            display: none !important;
          }
        }
      }
    }
  }
  .deal-card__item {
    margin: 10px 0;
    margin-right: 0;
    margin-left: 0px;

    img {
      margin-right: 0;
      width: 104%;
      max-width: 260px;
    }
  }
  .deal-card__info {
    width: auto;
    flex-basis: auto;
    padding-left: 0px;
  }
  .deal-card__wrapper  {

    &--description {
      margin-left: 20px;
      padding-right: 11px;
      p {
        &:nth-of-type(2) {
          width: 127px;
          margin-left: auto;
        }
      }
    }
  }
  .deal-card__description {
    margin-top: 28px;
  }
  .deal-card__wrapper p b {
    font-size: 16px;
    font-weight: 400;
  }
  .deal-card__borrower {
    font-size: 20px !important;
  }
  .deal-card__wrapper--controls p:last-child a {

    svg {
      display: none;
    }
  }


  .page-nav {
    margin-right: 30px;
    margin-top: 13px;
    margin-bottom: 16px;
  }
  .featured-card {
    position:relative;
    padding-bottom: 110px;
    height: 466px;

    footer {
      position: absolute;
      bottom: 0;
    }
  }
  .intro__card {
    margin: 0 10px;
  }
  .intro__card-list  {
    max-width: 100%;
    padding: 0 !important;
  }




  .page-find-brokers {
    .page-nav {
      margin-top: 5px;
    }
    header.featured-card__wrapper {
      padding: 0px 15px;
      padding-top: 16px;
      padding-left: 22px;
      padding-bottom: 5px;
    }
    main.featured-card__wrapper {
      padding-left: 21px;
      padding-right: 10px;
    }
    .featured-card footer {

    }
    .search__submit {
      margin-top: 31px;
    }
    .search__item {
      margin-top: 31px;
    }
    .search__item-text {
      margin-bottom: 5px;
    }
    .search {
      padding-bottom: 27px;
      margin-top: 18px;
      padding-top: 1px;
    }
    .featured__cards {
      justify-content: space-around;
    }
    .featured-card {
      width: 240px !important;
      margin: 10px;
      box-sizing: border-box;
    }
    .featured-card__wrapper {
      .btn {
        padding: 33px 20px;
        letter-spacing: 1.5px;
      }
    }
    footer.featured-card__wrapper .btn {

      &:first-child {

      }
      &:last-child {
        background-color: $color-white;
        color: $color-green;

        &:hover {
          background-color: $color-green;
          color: $color-white;
        }
      }
    }
  }
  .language__list {
    top: 61px;
  }
}



@media (max-width: $device-lg-width) {
  // .intro__list li svg {
  //   top: -2px;
  // }
  .container {
    padding: 0 20px;
  }

  .header__web-link {
    display: none;
  }
  .header__wrapper {
    padding-left: 20px;
  }
  .logo {
    &--hidden {
      flex: 0;
      margin: 0;
      display: block;
    }
    &--main {
      display: none;
    }
  }
  .select {
    margin-left: 15px;
  }
  .select__list {
    left: 105px;
  }





  .intro {
    min-height: 0;
    margin-bottom: 40px;
    background-size: 126%;

    h1 {
      font-size: 50px;
      max-width: 540px;
      padding-top: 106px;
      margin-bottom: 26px;
      line-height: 61px;
    }
  }
  .intro__list {
      margin-top: 30px;
    li {
      margin-right: 52px;
      padding-left: 16px;
      font-size: 16px;

      svg {
        top: -5px;
      }
    }
  }
  .intro__btn {

    &:first-of-type {
      margin-right: 15px;
    }
    &:last-of-type {
      width: 142px;
    }
  }
  .intro__card {
    margin: 0 10px;
  }





  .features {
    margin-top: 0px;
    padding-bottom: 20px;
  }
  .features__cards {
    flex-wrap: wrap;
    margin: 0 -10px;
    margin-bottom: 10px;
  }
  .features__item {
    width: 361px;
    flex: 2 auto;
    margin: 10px;
    padding-top: 42px;
    box-sizing: border-box;
    padding-bottom: 37px;

    &:first-child {
      margin-left: 10px;
    }
    &:last-child {
      margin-right: 10px;
    }
    &:nth-child(2) {

      h3 {
        br {
          display: none;
        }
      }
    }
    &:nth-child(1) {
      &::before {
        top: -10px;
        left: 51%;
        width: 39px;
        height: 46px;
      }
    }
    &:nth-child(2) {
      h3 {
        padding: 0px;
      }
      &::before {
        top: -17px;
        left: 50%;
        width: 60px;
        height: 64px;
      }
    }
    &:nth-child(3) {
      &::before {
        top: -7px;
        left: 50%;
        width: 38px;
        height: 46px;
      }
    }
    &:nth-child(4) {
      &::before {
        top: -8px;
        left: 51%;
        width: 41px;
        height: 48px;
      }
    }

    h3 {
      margin-bottom: 13px;
      font-size: 24px;
    }
    p {
      margin-top: 0;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 10px;
    }
  }
  .features__info {
    margin-top: 20px;
    align-items: flex-start;

    h2 {
      flex: 1;
      margin-top: 0;
      line-height: 38px;
      font-size: 30px;
      margin-right: 20px;
      letter-spacing: 0;
    }
    p {
      margin-left: 3px;
      margin-top: 6px;
      font-size: 20px;
      line-height: 24px;
    }
    img {
      height: 260px;
      margin-top: 15px;
    }
  }




  .main__wrapper {

    &--gradient {
      margin-bottom: 94px;
    }
  }
  .title {
    font-size: 24px;
  }
  .about {
    margin-bottom: 60px;

    h2 {
      margin-bottom: 12px;
    }
    p {
      font-size: 20px;
      letter-spacing: -0.4px;
    }
  }
  .about__bg {
    margin-top: 30px;
  }
  .about__list {
    margin-top: -33px;
  }
  .about__item {
    padding: 0;
    max-width: 200px;
    font-size: 14px;
  }
  .about__btn {
    margin-top: 60px;
  }



  .relationships {
    padding: 0px 0;
    padding-bottom: 40px;

    h2 {
      margin-top: 27px;
      font-size: 50px;
      line-height: 59px;
    }
  }
  .relationships__info {
    padding-left: 12px;
    padding-right: 10px;

    p {
      margin-top: 34px;
      line-height: 25px;
      font-size: 20px;
    }
  }
  .relationships__btn {
    margin-top: 33px;
    margin-left: 5px;
  }




  .questions__btn {
    top: 15px;
  }
  .questions {
    padding-top: 33px;
    margin-top: 0;
  }
  .questions__item {
    padding: 15px 0;
  }
  .questions__title {
    margin-top: 0;
  }
  .questions__subtitle {
    font-size: 16px;
    letter-spacing: 0;
  }
  .questions__title {
    margin-bottom: 14px;
  }
  .questions__text {
    margin-bottom: 0px;
  }



  .footer {
    padding: 10px 15px;
  }
  .footer__nav {
    width: 100%;
    flex: none;
    margin-bottom: 15px;
  }
  .logo--footer {
    flex: none;
    margin-right: 10px;
  }
  .footer__copy {
    font-size: 8px;
    flex: 1;
    margin-right: auto;
    text-align: left;

    br {
      display: block;
    }
  }


  .page-request {
    .intro {
      h1 {
        padding-top: 47px;
        line-height: 60px;
        max-width: 550px;
        margin-bottom: 10px;
        font-size: 50px;
        letter-spacing: 0;
      }
    }
    .intro__list {
      margin-top: 30px;
      margin-bottom: 3px;
      max-width: 440px;
      flex-wrap: wrap;

      li {
        width: 125px;
        margin-right: 26px;
        margin-bottom: 34px;
      }
    }
    .intro__card-list {
      margin-top: 40px;
    }
  }
  .intro__card {
    &:hover {
      @include transition(300ms);
      transform: translateY(0);
    }
  }
  .page-request {
    .intro {
      margin-bottom: 0;
      padding-bottom: 18px;
    }
    .search {
      padding-top: 34px;
      padding-bottom: 20px;
    }
    .search__item {
      margin-top: 24px;
      flex-basis: calc(50% - 10px);
      max-width: calc(50% - 10px);

      &::after {
        right: 10px;
      }
    }
    .search__title {
      margin-top: 4px;
      margin-bottom: 6px;
    }
  }
  .limit__wrapper {
    margin-top: 18px;
    height: 305px;
  }
  .limit .stiсker {
    top: 10px;
    left: -10px;
    font-size: 10px;
    padding: 1px;
    letter-spacing: 0.6px;
    padding-right: 10px;
    padding-left: 10px;

    span {
      &::before {
      bottom: -13px;
      left: -10px;
      border-width: 0 10px 10px 0;
      }
    }
  }
  .limit__title {
    margin-top: 57px;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 48px;
    max-width: 330px;
  }
  .limit__wrapper {
    padding-left: 20px;
  }
  .limit .btn {
    margin-bottom: 20px;
    max-width: 167px;
    font-size: 14px;

    span {
      margin-right: 33px;
      letter-spacing: 1px;

      &::after {
        right: -40px;
      }
    }
  }
  .featured__title {
    font-size: 20px;
  }
  .operations {
    margin-top: 0;
  }
  .operations__title {
    padding-top: 36px;
    height: 98px;
    // padding-right: 37px;
  }

  .operations__wrapper {
    background-size: cover;
    padding-bottom: 59px;
  }
  .operations__img {
    width: 231px;
    height: 231px;
  }
  .operations__img {
    &:nth-child(1) {
      width: 231px;
      height: 231px;
    }
    &:nth-child(2) {
      width: 231px;
      height: 231px;
    }
    &:nth-child(3) {
      width: 231px;
      height: 231px;
    }
  }
  .operations__list {
    margin-top: 67px;
    padding: 0 40px;
  }
  .operations__title {
    margin-bottom: 0;
  }
  .operations__name {
    max-height: 300px;
    span {
      font-size: 10px;
      margin-top: 31px;
    }
  }
  .operations__name h4 {
    font-size: 30px;
  }
  .operations__item {
    margin-bottom: 65px;

    &:last-child {
      margin-bottom: 90px;
    }
  }
  .operations__about {
    width: 274px;
    max-width: 274px;
    height: 274px;
    padding: 0 38px;
    margin-left: 16px;
    flex-basis: auto;

    p {
      font-size: 14px;
      color: #382c75;
      font-weight: 400;
      line-height: 17px;
      text-align: center;
      margin: 8px 0;
      letter-spacing: -0.6px;
    }
  }
  .limit .btn {
    max-width: 207px;
    width: 207px;
  }


  .operations__wrapper {
    padding-top: 1px;
    padding-bottom: 27px;
    background-position: 42% bottom;
  }
  .operations__list {
    margin-top: 62px;
  }
  .operations__item {
    &:first-child {
      margin-bottom: 87px;
    }
    &:last-child {
      margin-bottom: 71px;

      .operations__about {
        margin-top: -32px;
      }
      .operations__name {
        span {
          margin-top: 16px;
        }
      }
    }
    &:nth-child(2) {
      margin-bottom: 123px;
      img {
        width: 231px;
        height: 231px;
        // margin-top: 25px;
      }
      .operations__about {
        margin-top: 35px;
        padding: 0 36px;
      }

      .operations__name span {
        margin-top: 30px;
      }
    }
  }
  .page-find-brokers {
    .featured-cards {
      justify-content: space-around;
    }

    .featured-card {
      &:nth-child(7),
      &:nth-child(8) {
        display: none;
      }
    }
  }

}

@media (max-width: 800px) {
  .intro__btn-wrapper {
    display: flex;
    width: 100%;

    a {
      flex: 1;
      max-width: 100% !important;
      min-width: auto;
      margin: 0 10px;
      box-sizing: border-box;


      &:first-of-type {
        margin-left: 0;
        letter-spacing: 1.4px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .footer {
    padding: 10px;
  }
  .container {
    padding: 0 10px;
  }
  .nav-menu {
    display: none;
  }
  .logo {

    &--hidden {
      margin-left: 6px;
      svg {
        width: 36px;
        height: 21px;
      }
    }
  }
  .header__wrapper {
    padding-left: 5px;
    margin-left: 0;
    height: 30px;
    padding: 5px 0;
  }
  .select {
    margin-left: 10px;

    label {
      padding: 5px 10px;
      font-size: 12px;

      &::after {
        top: 7px;
      }
    }
  }
  .select__btn {
    padding: 8px;
    margin-top: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    letter-spacing: 0.2px;

    &::after {
      top: 5px;
      right: -8px;
    }
    &--open {
      &::after {
        top: 8px;
      }
    }
  }
  .select__list--open {
    bottom: -53px !important;
  }
  .burger {
    top: 8px;
  }




  .intro {
    margin-bottom: 30px;

    h1 {
      max-width: 310px;
      line-height: 36px;
      font-size: 30px;
      margin-bottom: 18px;
    }
  }
  .page-request .intro h1 {
    max-width: 310px;
    line-height: 36px;
    font-size: 30px;
    margin-bottom: 18px;
    padding-top: 23px;
  }
  .page-request .intro .btn:last-child {
    width: auto;
  }
  .intro__list {
    margin-bottom: 0px;
    margin-top: 23px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .intro__list-item {
    margin: 10px 0;

    &:last-of-type {
      margin-bottom: 15px;
    }
  }
  .intro__btn {
    display: inline-block;

    &:first-of-type {
      padding: 10px 0;
      padding-left: 20px;
      padding-right: 10px;
      margin-right: 5px;
      box-sizing: border-box;

      &::after {
        right: 20px;
      }
    }
    &:last-of-type {
      padding: 10px 0;
    }
  }




  .features {
    padding-bottom: 35px;
  }
  .features__item {
    padding-top: 0px;
    padding-right: 0;
    padding-left: 98px;
    padding-bottom: 7px;
    margin-bottom: 0px;
    text-align: left;

    &::before {
      width: 80px;
      height: 92px;
      top: 10px;
      left: -10px;
      transform: translateX(0%);
      background-size: cover;
    }

    &:nth-child(2) {
    padding-bottom: 22px;
    }
    &:nth-child(3) {
      padding-bottom: 20px;
    }

    &:nth-child(1) {
      &::before {
        width: 60px;
        height: 72px;
        top: 10px;
        left: 8px;
      }
    }
    &:nth-child(2) {
      h3 {
        padding: 0px;
      }
      &::before {
        width: 70px;
        height: 75px;
        top: 10px;
        left: 8px;
      }
    }
    &:nth-child(3) {
      &::before {
        width: 62px;
        height: 75px;
        top: 10px;
        left: 8px;
      }
    }
    &:nth-child(4) {
      &::before {
        width: 64px;
        height: 74px;
        top: 10px;
        left: 8px;
      }
    }

    h3 {
      font-size: 20px;
      line-height: 24px;
      margin: 0;
      margin-top: 13px;
      margin-bottom: 4px;
    }
    p {
      line-height: 15px;
      letter-spacing: -0.4px;
      font-size: 12px;
    }
  }
  .features__info {
    margin-top: 10px;

    h2 {
      max-width: 400px;
      margin: 0 auto;
      margin-top: 3px;
      text-align: center;
      line-height: 26px;
      font-size: 20px;
      flex: none;
    }
    p {
      max-width: 414px;
      margin: 0 auto;
      margin-top: 12px;
      text-align: center;
      line-height: 16px;
      font-size: 14px;
      flex: none;
    }
    img {
      height: auto;
      margin-top: 18px;
    }
  }



  .main__wrapper--gradient {
    margin-bottom: 0px;
  }
  .about {
    margin-top: 14px;
    margin-bottom: 20px;

    h2 {
      margin-top: 10px;
      font-size: 20px;
    }
    p {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0;
      padding: 0;
    }
  }
  .about__bg {
    float: left;
    margin-top: 0px;
    vertical-align: baseline;
    width: 220px;
    min-width: 220px;
    height: 460px;
    background-image: url('../img/bg-progress-mob.png');
  }
  .about__list {
    padding-top: 40px;
    padding-bottom: 25px;
    padding-left: 19px;
    padding-right: 10px;
    box-sizing: border-box;
    margin-top: 0;
    flex-direction: column;
    max-width: 300px;
    min-height: 460px;
  }
  .about__item {
    text-align: left;
    font-size: 12px;
  }
  .about__content {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .about__btn {
    width: 95%;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 25px;
    padding: 10px 0;
    padding-left: 20px;
    padding-right: 50px;
    box-sizing: border-box;

    &::after {
      right: 35%;
    }
  }
  .about__wrapper {
    overflow: hidden;
  }




  .relationships {
    margin-top: 21px;
    padding-bottom: 12px;

    h2 {
      margin-top: 15px;
      margin-right: 0;
      margin-bottom: 0px;
      font-size: 24px;
      line-height: 25px;
    }
  }
  .relationships__wrapper {
    flex-direction: column;
    text-align: center;

    p {
      margin-top: 15px;
      line-height: 16px;
      font-size: 14px;
    }
  }
  .relationships__btn {
    width: 95%;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 18px;
    padding: 10px 0;
    padding-left: 20px;
    padding-right: 50px;
    box-sizing: border-box;

    &::after {
      right: 35%;
    }
  }




  .questions {
    padding-top: 13px;
    margin-top: 0;
    padding-bottom: 70px;
  }
  .title {
    font-size: 20px;
    margin-bottom: 0;
  }
  .questions__subtitle {
    font-size: 14px;
    line-height: 20px;
  }
  .questions__text {
    font-size: 12px;
    line-height: 15px;
  }
  .questions__btn {
    top: 15px;
  }


  .header {
    position: relative;
  }
  .burger {
    display: flex;
  }
  .nav-menu {
    display: block;
    position: absolute;
    bottom: 200px;
    top: auto;
    width: 100%;
    z-index: 2;
    transition: 500ms ease;
  }
  .nav-menu__wrapper {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .nav-menu__link {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: $color-white;
    color: $color-green;

    &--active {
      color: #ffffff;
      background-color: #0cb175;
      transition: 500ms ease;
    }
  }
  .select {
    position: inherit;
  }
  .select__list {
    position: absolute;
    z-index: 2;
    bottom: 300px;
    left: 0;
    width: 100%;
    margin-left: 0;
    box-sizing: border-box;
    text-align: center;
  }



  .search {
    position: relative;
    padding-top: 15px;
    padding-bottom: 29px;
  }
  .search--deals {
    .search__form {
      position: relative;
      margin-top: -600px;
      opacity: 0;
      top: -300px;
    }
  }

  .search__submit {
    margin-top: 38px;
    flex-basis: calc(100%);
    max-width: calc(100%);
  }
  .search__item {
    flex-basis: calc(100%);
    max-width: calc(100%);
    margin-top: 24px;

    &--select {
      &::after {
        right: 13px;
        top: 37px;
      }
    }
  }
  .search__item--range input {
    width: 33%;
  }
  .search__item--range input:nth-of-type(2) {
    padding-right: 0;
  }
  .deal-card__item {
    flex-wrap: wrap;
    margin: 5px 0;
    margin-left: 0;

    img {
      width: 100%;
      max-width: 100%;
      max-height: 100%;
      min-height: 225px;
    }
  }
  .deal-card__borrower-item {
    width: 100%;
    flex: 500%;
    margin-top: 16px;
    padding-left: 0;
    margin-bottom: 20px;

    &::before {
      top: -43px;
    }
  }
  .deal-card__item {
    margin-right: 0;
    margin-left: 0;
  }
  .deal-card__wrapper--description {
    margin-left: 8px;
  }
  .deal-card__wrapper--description p:nth-of-type(2) {
    flex: 1;
    margin: 0;
  }
  .deal-card__wrapper--description p:nth-of-type(3) {
    flex: 1;
    margin: 0;
    margin-left: 20px;
  }
  .deal-card__wrapper p b {
    line-height: 24px;
  }
  .deal-card__description {
    margin-top: 14px;
    p {
      font-size: 16px;
      line-height: 20px;
      padding-right: 20px;
      letter-spacing: -0.4px;
    }
  }
  .deal-card__wrapper--controls {
    margin-top: 4px;
  }



  .search {
    padding-bottom: 29px;
  }
  .page-nav {
    margin-right: 0;
  }


  .page-request .intro__list {
    margin-top: 13px;
    margin-bottom: 32px;

    br {
      display: none;
    }
    li {
      width: auto;
      margin-bottom: 6px;
    }
  }
  .intro__card {
    width: 180px !important;
    margin: 0 5px;

    h4 {
      font-size: 16px;
    }
  }
  .intro__card .stiсker {
    top: 72px;
    left: 0px;

    span {
      &::before {
        display: none;
      }
    }
  }
  .intro__card-percent {
    font-size: 60px;
    margin-top: 34px;

    &::before {
      top: 8px;
      right: 2px;
      font-size: 26px;
    }
    &::after {
      top: 37px;
      right: 0;
      font-size: 10px;
      font-weight: bold;
    }
  }
  .page-request .intro__card-list {
    margin-top: 22px;
  }
  .intro__card-info {
    flex-wrap: wrap;
    a {
      display: block;
      width: 100%;
    }
  }
  .intro__btn:first-of-type {
    padding-left: 12px;
    letter-spacing: 1px;
    padding-right: 0;
    width: 208px;
    margin-right: 0px;
  }
  .intro__card-info {
    justify-content: flex-start;
  }
  .intro__card-info a {
    margin-top: 12px;
    margin-left: 0;
    padding-right: 10px;
  }
  .intro__card .btn {
    margin-top: 19px;
    padding: 12px;
    font-size: 12px;
  }
  .page-request {
    .search {
      padding-top: 19px;
      padding-bottom: 10px;
      margin: 0 10px;
    }
    .search__wrapper {
      overflow: inherit;
    }
    .search__title {
      margin-bottom: 1px;
    }
    .search__item {
      margin-top: 25px;
      flex-basis: calc(100%);
      max-width: calc(100%);
      width: calc(100%);
    }
    .search__submit {
      padding: 11px 0;
      max-height: 37px;
    }
    .search__form {
      flex-wrap: wrap;
      flex-direction: column;
    }
    .intro {
      padding-bottom: 14px;
    }
    .language__list {
      z-index: 1;
    }
    .limit__wrapper {
      margin-top: 10px;
    }
  }
  .limit__wrapper {
    height: 172px;
    padding-left: 10px;
    margin-bottom: 5px;
  }
  .limit .stiсker {
    left: 10px;
    span {
      &::before {
        display: none;
      }
    }
  }
  .limit .btn {
    display: none;
  }
  .limit__title {
    max-width: 160px;
    margin-top: 60px;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
  }
  .featured__title {
    margin-top: 20px;
  }
  footer.featured-card__wrapper .btn {
    padding: 26px 28px;
    height: 86px;
  }
  .featured-card__img {
    width: 60px;
    height: 60px;
  }
  .featured {
    overflow: hidden;
  }
  .featured-card {
    margin: 20px 10px;
  }
  .featured__reputation {
    margin-top: 12px;
  }
  header.featured-card__wrapper {
    padding-top: 4px;
  }
  .featured-card__name {
    margin-left: 4px;
  }
  .featured-card__text {
    margin: 7px 0;
  }
  main.featured-card__wrapper {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .operations__wrapper {
    padding-bottom: 20px;
    background-size: 250% 1646px;
    background-position: top;
  }
  .operations__item {
    flex-wrap: wrap;
    margin-bottom: 33px;

    &:first-child {
      margin-bottom: 38px;
    }
    &:last-child {
      margin-bottom: 0;
      img {
        width: 244px;
        height: 244px;
      }
      .operations__name span {
        margin-top: 10px;
      }
      .operations__about {
        margin-top: 31px;
      }
    }
    &:nth-child(2) {
      margin-bottom: 40px;
      img {
        width: 250px;
        height: 253px;
        margin-right: 25px;
      }
      .operations__name span {
        margin-top: 20px;
      }
    }
  }
  .operations__name {
    flex-basis: 100%;
  }
  .operations__about {
    flex-basis: 100%;
    margin: 0 auto;
    margin-top: 30px;
  }
  .operations__title {
    padding-top: 18px;
    height: 55px;
  }
  .operations__list {
    margin-top: 20px;
  }
  .operations__img {
    &:nth-child(1) {
      width: 257px;
      height: 266px;
    }
    &:nth-child(2) {
      width: 250px;
      height: 253px;
    }
    &:nth-child(3) {
      width: 244px;
      height: 244px;
    }
  }
  .operations__name {
    max-height: 100%;
  }
  .operations__name span {
    margin-top: 21px;
  }
  .operations__name h4 {
    font-size: 24px;
    margin-top: 2px;
  }
  .operations__about {
    flex-basis: auto;
    width: 215px;
    height: 215px;
    padding: 10px 12px;
    box-sizing: border-box;
    margin-top: 28px;

     p {
       margin: 7px 0;
       font-size: 14px;
     }
  }
  .operations__btn {
    border-top: 1px solid #f1f2f2;
    width: 215px;
    height: 77px;
    font-size: 14px;
    border: none;

    span {
      &::after {
        right: -20px;
        font-size: 16px;
      }
    }
  }
  .featured-card {
    position:relative;
    padding-bottom: 86px;
    height: 401px;

    footer {
      position: absolute;
      bottom: 0;
    }
  }






  .page-find-brokers {
    .search {
      margin-bottom: 0;
      margin-top: 0;
      padding-bottom: 10px;
    }
    .search__item {
      margin-top: 29px;

      &:first-child {
        margin-top: 23px;
      }
    }
    .search__submit {
      width: 100%;
      margin-top: 30px;
      padding: 10px 0;
      max-height: 40px;
      height: 40px;
      flex-basis: calc(100%);
      max-width: calc(100%);
      letter-spacing: 1.5px;
      padding-top: 13px;
    }

    .featured__cards {
      margin-left: -10px;
      margin-right: -10px;
    }
    .featured-card {
      width: 211px !important;
      margin: 10px 2px;
      min-height: 385px;
      padding-bottom: 90px;
      height: auto;

      &:nth-of-type(5),
      &:nth-of-type(6),
      &:nth-of-type(7),
      &:nth-of-type(8) {
        display: none;
      }
    }
    .featured-card__name {
      font-size: 16px;
      margin-left: 10px;
    }
    .featured__reputation {
      margin-top: 10px;
      margin-left: -1px;
    }
    header.featured-card__wrapper {
      padding-top: 11px;
      padding-left: 11px;
    }
    main.featured-card__wrapper {
      padding-top: 10px;
      padding-left: 15px;
    }
    .featured-card__text {
      &:last-child {
        margin-top: 6px;
      }
    }
    .featured-card__wrapper {
      .btn {
        height: 87px;
        padding: 25px 20px;
        letter-spacing: 1px;
        flex: 1;
      }
    }
    .page-nav {
      margin-top: 21px;
      margin-bottom: 6px;
      flex-wrap: wrap;

      div {
        order: 2;
      }
    }
    .page-nav__list {
      width: 100%;
      flex: 1 auto;
      order: 1 !important;
      margin: 3px 0;
      margin-bottom: 13px;
    }
    .page-nav__btn-top {
      order: 3;
    }
  }
}



@media (max-width: 450px) {
  .intro {
    h1 {
      padding-top: 61px;
      max-width: 270px;
      margin-bottom: 10px;
    }
  }
  .intro__list {
    margin-top: 14px;
  }
  .intro__btn-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .intro__btn {

    &:first-of-type,
    &:last-of-type {
      width: 100%;
      max-width: 100%;
      text-align: center;
      margin-left: 0;
    }
    &:first-of-type {
      margin-bottom: 10px;
      padding-right: 37px;

      &::after {
        right: 20%;
      }
    }
  }




  .features__item {
    padding-left: 63px;
    padding-right: 10px;

    &::before {
      width: 54px;
      height: 62px;
      top: 10px;
      left: -5px;
    }
    &:nth-child(2) {
      padding-bottom: 5px;
      h3 {
        margin-top: 12px;
      }
      &::before {
        width: 54px;
        height: 62px;
        top: 10px;
        left: 0px;
      }
    }
    &:nth-child(3) {
      padding-bottom: 0px;

      h3 {
        margin-top: 15px;
      }
      p {
        margin-bottom: 16px;
      }
    }
    &:nth-child(4) {
      padding-bottom: 0px;

      h3 {
        margin-top: 11px;
      }
      p {
        margin-bottom: 23px;
      }
    }

    &:nth-child(1) {
      &::before {
        width: 38px;
        height: 45px;
        top: 10px;
        left: 8px;
      }
    }
    &:nth-child(2) {
      h3 {
        padding: 0px;
      }
      &::before {
        width: 43px;
        height: 44px;
        top: 10px;
        left: 8px;
      }
    }
    &:nth-child(3) {
      &::before {
        width: 32px;
        height: 38px;
        top: 10px;
        left: 8px;
      }
    }
    &:nth-child(4) {
      &::before {
        width: 38px;
        height: 44px;
        top: 10px;
        left: 8px;
      }
    }

    h3 {
      letter-spacing: -0.7px;
      margin-top: 19px;
    }
    p {
      margin-bottom: 19px;
    }
  }
  .features__info {
    h2 {
      max-width: 300px;
    }
    p {
      max-width: 300px;
    }
    img {
      margin-top: 8px;
    }
  }



  .about {
    margin-top: 15px;
  }
  .about__bg {
    margin-top: 6px;
    width: 153px;
    min-width: 146px;
    height: 321px;
  }
  .about__list {
    padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 11px;
    padding-right: 10px;
    box-sizing: border-box;
    margin-top: 0;
    flex-direction: column;
    max-width: 220px;
    min-height: 326px;
  }
  .about__btn {
    margin-top: 27px;
  }

  .about__btn {
    &::after {
      right: 25%;
    }
  }

  .relationships__btn {
    &::after {
      right: 25%;
    }
  }

  .questions__subtitle {
    line-height: 18px;
  }
  .questions__item {
    padding: 17px 0;
  }

  .footer {
    padding: 15px;
  }
  .footer__nav {
    margin-bottom: 11px;
  }
  .footer__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    margin: 15px 7px;
    font-size: 10px;
    line-height: 24px;
    transition: 500ms ease;

    &:first-child {
      margin-left: 0;
    }
  }
  .footer__nav {
    width: 100%;
    flex: none;
    margin-bottom: 11px;
  }




  .deal-card__item {
    flex-wrap: wrap;
    margin: 5px 0;
    margin-left: 0px;

    img {
      width: 100%;
      max-width: 100%;
      max-height: 100%;
      min-height: 160px;
    }
  }
  .page-nav__btn-top {
    display: block;
    width: 100% !important;
    flex: none !important;
    text-align: center !important;
    margin-top: 10px !important;
  }
  .page-nav {
    flex-wrap: wrap;
    div {
      display: none;
    }
  }
  .page-nav__list {
    display: flex !important;
  }


  .footer__link {
    &:last-child {
      display: block;
      margin: 0;
      width: 100%;
      margin-left: 0;
    }
  }

  .select {
    width: 119px;
  }
  .intro__list-item {
    margin-top: 9px;
    margin-bottom: 8px;

    &:last-of-type {
      margin-bottom: 20px;
    }
  }
  .intro__btn:first-of-type {
    padding-right: 0px;

    span {
      margin-right: 31px;
    }
  }
  .features__item p {
    letter-spacing: 0;
    padding: 0 2px;
  }
  .features__item h3 {
    letter-spacing: 0;
  }
  .about__list {
    padding-right: 0;
    padding-left: 9px;
    min-height: 320px;
  }
  .about__item {
    line-height: 15px;
  }
  .about__btn {
    margin-top: 33px;
  }
  .limit .stiсker {
    left: 0;
  }
  .limit__wrapper {
    height: 120px;
  }
  .limit__title {
    margin-top: 37px;
  }
  .featured-card__name {
    font-size: 16px;
    font-weight: 400;
  }

  footer.featured-card__wrapper .btn {
    font-size: 14px;

    &:last-child {
      padding: 26px 37px;
    }
  }
  .page-request {
    .intro {
      background-position: 0px -4px;
    }
    .intro .btn:last-child  {
      width: 100%;
      max-width: 100%;
    }

    .intro__list {
      margin-bottom: 9px;
      li {
        margin-bottom: 8px;
      }
    }
  }
  .operations {
    margin-top: -10px;
  }
  .operations__list {
    margin-top: 53px;
  }
  .operations__about {
    margin-top: 48px;
  }
  .operations__item {
    &:nth-child(1) {
      img {
        width: 183px;
        height: 189px;
      }
    }
    &:nth-child(2) {
      img {
        width: 188px;
        height: 189px;
      }
      .operations__about {
        margin-top: 52px;
      }
    }
    &:nth-child(3) {
      .operations__name {
        span {
          margin-top: 24px;
        }
      }
      .operations__about {
        margin-top: 41px;
      }
      img {
        width: 190px;
        height: 190px;
      }
    }
  }
  .intro__card-percent {
    &::after {
      top: 39px;
      right: 4px;
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
  .page-find-brokers {
    .page-nav div {
      display: block;

      &:first-child {
        flex: 2;
      }
    }
    .featured__cards {
      margin-left: -2px;
      margin-right: -2px;
    }
    .page-nav__btn-top {
      width: auto !important;
      flex: 1 !important;
      text-align: right !important;
      margin-top: 0 !important;
      margin-bottom: 5px;
    }

    .featured-card {
      width: 100% !important;
      margin: 7px 1%;

      &:nth-child(3),
      &:nth-child(4) {
        display: none;
      }
    }
    header.featured-card__wrapper {
      padding: 0px 23px;
      padding-top: 13px;
      padding-bottom: 5px;
      padding-left: 10px;
    }
    .featured__reputation {
      width: 100%;
    }
    main.featured-card__wrapper {
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 25px;
    }
    footer.featured-card__wrapper .btn {
      flex: 1;
      width: 50%;
      flex-basis: 50%;
      box-sizing: border-box;
      padding: 27px 14%;
      padding-bottom: 0;

      &:last-child {
        padding: 27px 15.5%;
      }
    }
    .featured-card__wrapper--footer {
      width: 100%;
    }
  }
}

@media (min-width: 660px) and (max-width: 800px) {
  .page-find-brokers {
    .featured-card {
      margin: 7px 5% !important;
    }
  }
}

@media (min-width: 900px) and (max-width: $device-lg-width) {
  .page-find-brokers {
    .featured-card {
      margin: 10px 3% !important;
    }
  }
}
