@media (max-width: $device-lg-width + 82px) {

  .search {
    position: relative;
    padding-top: 15px;
    padding-bottom: 36px;

    &--deals {
      padding-bottom: 30px;
    }
    .search__title {
      margin-top: 20px;
    }
  }
  .search__popular {
    display: block;
  }
  .search--deals {
    .search__form {
      margin-top: -382px;
      opacity: 0;
      top: -300px;
      position: relative;
    }
  }
  .search__button {
    display: block;
  }

  .search__submit {
    flex-basis: calc(50% - 14px);
    max-width: calc(50% - 14px);
  }
  .search__item {
    flex-basis: calc(50% - 14px);
    max-width: calc(50% - 14px);

    &--range {
      flex-basis: 100%;
      max-width: 100%;
      width: 100%;

      input {
        width: 47%;
      }
    }
  }


  .deal-card__info {
    flex-wrap: wrap;
  }
  .deal-card__wrapper {
    width: auto;

    &--controls {
      border-top: 1px solid #f1f2f2;
      margin-top: 14px;
      flex-direction: row;
      max-width: 100%;
      width: 100%;

      p {
        border-bottom: none;
        border-left: none;

        &:first-of-type {
          padding: 10px 0;

          b {
            font-size: 20px;
          }
        }
        &:last-of-type {
          border-right: none;
        }

        a {
          &::after {
            display: none !important;
          }
        }
      }
    }
  }
  .deal-card__item {
    margin: 10px 0;
    margin-right: 0;
    margin-left: 0px;

    img {
      margin-right: 0;
      width: 104%;
      max-width: 260px;
    }
  }
  .deal-card__info {
    width: auto;
    flex-basis: auto;
    padding-left: 0px;
  }
  .deal-card__wrapper  {

    &--description {
      margin-left: 20px;
      padding-right: 11px;
      p {
        &:nth-of-type(2) {
          width: 127px;
          margin-left: auto;
        }
      }
    }
  }
  .deal-card__description {
    margin-top: 28px;
  }
  .deal-card__wrapper p b {
    font-size: 16px;
    font-weight: 400;
  }
  .deal-card__borrower {
    font-size: 20px !important;
  }
  .deal-card__wrapper--controls p:last-child a {

    svg {
      display: none;
    }
  }


  .page-nav {
    margin-right: 30px;
    margin-top: 13px;
    margin-bottom: 16px;
  }
  .featured-card {
    position:relative;
    padding-bottom: 110px;
    height: 466px;

    footer {
      position: absolute;
      bottom: 0;
    }
  }
  .intro__card {
    margin: 0 10px;
  }
  .intro__card-list  {
    max-width: 100%;
    padding: 0 !important;
  }




  .page-find-brokers {
    .page-nav {
      margin-top: 5px;
    }
    header.featured-card__wrapper {
      padding: 0px 15px;
      padding-top: 16px;
      padding-left: 22px;
      padding-bottom: 5px;
    }
    main.featured-card__wrapper {
      padding-left: 21px;
      padding-right: 10px;
    }
    .featured-card footer {

    }
    .search__submit {
      margin-top: 31px;
    }
    .search__item {
      margin-top: 31px;
    }
    .search__item-text {
      margin-bottom: 5px;
    }
    .search {
      padding-bottom: 27px;
      padding-top: 1px;
    }
    .featured__cards {
      justify-content: space-around;
    }
    .featured-card {
      width: 240px !important;
      margin: 10px;
      box-sizing: border-box;
    }
    .featured-card__wrapper {
      .btn {
        padding: 33px 20px;
        letter-spacing: 1.5px;
      }
    }
    footer.featured-card__wrapper .btn {

      &:first-child {

      }
      &:last-child {
        background-color: $color-white;
        color: $color-green;

        &:hover {
          background-color: $color-green;
          color: $color-white;
        }
      }
    }
  }
  .language__list {
    top: 61px;
  }


  .my-request {
    margin-top: -10px;

    .deal-card__img-wrapper {
      min-width: auto;
      max-width: 257px;
      width: 100%;
    }
    .deal-card__img-wrapper {
      margin-right: 0;
    }
    .deal-card__wrapper--controls {
      max-width: 100%;
      height: 63px;
      margin-top: auto;
      flex-wrap: nowrap;

      p {
        width: auto;

        &:first-child {
          width: auto;
          padding: 0 25px;
          max-width: 100px;
          box-sizing: border-box;
        }
      }
      .deal-card__time {
        font-size: 20px;
      }
    }
    .deal-card__wrapper-info {
      height: 100%;
      width: 230px;

      p {
        &:first-child {
          border-right: 1px solid #f1f2f2;
        }
      }
    }
    .deal-card__buttons {
      flex-direction: row;
      flex-wrap: nowrap;
    }
    .deal-card__item {
      margin: 19px 0;
    }
    .deal-card__item--draft .deal-card__buttons  {

      div {
        height: 100%;
      }
      .btn {
        height: 100%;
      }
    }
    .deal-card__description {
      margin-top: 42px;
    }
    .deal-card__description p {
      br {
        display: none;
      }
    }
    .deal-card__tab-wrapper {
      padding-top: 10px;
    }
    .deal-card__buttons {
      overflow: hidden;
      .btn {
        font-size: 12px;
        line-height: 63px;
        border-top: none;
        padding: 0;
      }
      div .btn {
        font-size: 12px;
      }
    }
    .deal-card__buttons--new .btn {
      font-size: 16px;
      font-weight: bold;
    }
    .deal-card__item--draft .deal-card__buttons .btn {
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.8px;
      text-align: center;
    }
  }


  .request-card {
    width: 260px;
  }
  .request-card__name {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  .request-card__image-wrapper {
    width: 260px;
    height: 260px;
  }
  .request-card__image {
    width: 100%;
    height: 100%;
  }
  .request-info {
    padding-top: 22px;
    padding-left: 20px;
    padding-right: 10px;

    p {
      margin-bottom: 22px;

      &:last-child {
        margin-bottom: 5px;
      }
      b {
        font-size: 16px;
      }
    }
    br {
      display: none;
    }
  }

  .request-info__description p {
    margin-top: 5px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 17px;
    letter-spacing: normal;
    padding-right: 10px;
  }
  .request-info__options {
    margin-top: 14px;
    margin-bottom: 15px;
  }

  .request-about {
    padding-left: 7px;
  }
  .request-header {
    margin-bottom: 20px;
  }
  .request-header p b {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  .request-header p {
    margin-bottom: 4px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  .request-header__wrapper {
    padding-right: 10px;

    &:last-child {
      padding-left: 20px;
    }
  }

  .request-details__name-wrapper {
    margin-top: 32px;
    margin-bottom: 11px;

    b {
      font-size: 10px;
    }
  }
  .request-details__name {
    font-size: 24px;
    display: block;
    margin-bottom: -39px;
  }
  .request-header__title {
    margin-bottom: 11px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.4px;
  }
  .request-header__name {
    font-size: 16px;
    margin-right: 15px;
  }
  .request-info__description {
    margin-bottom: 37px;
  }

  .request-hint {
    padding-top: 21px;
  }
  .request-hint__wrapper h4 {
    font-size: 20px;
    margin-bottom: 15px;
    span {
      display: block;
    }
  }

  .request__info-wrapper {
    margin: 0 20px;
  }
  .request__item--mortgage .request__item-text--height {
    height: 250px;
  }
  .good-to-know {
    p {
      padding-bottom: 25px;
      font-size: 14px;
    }
  }
  .request__hint-wrapper {
    padding-bottom: 21px;
    margin-bottom: 20px;
    p {
      font-size: 20px;
    }
  }

  .request-hint__brokers-list {
    padding: 0 20px;
    margin-top: 20px;
  }
  .request-hint__broker {
    margin: 20px 0;
  }

  .choose-broker {
    padding-bottom: 0;
  }
  .choose-broker__name {
    font-size: 16px;
  }
  .choose-broker__img {
    margin-right: 9px;
  }
  .choose-broker--verified .choose-broker__name span::after {
    right: -19px;
  }
  .choose-broker__online {
    display: block;
    margin-top: 5px;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 10px;
    letter-spacing: 1px;

    br {
      display: block;
    }
    b {
      display: none;
    }
  }
  .choose-broker__img-wrapper {
    max-width: 310px;

  }
  .choose-broker__img-wrapper {
    order: 1;
    max-width: none;
    flex-basis: 75%;
  }
  .choose-broker__star {
    order: 2;
    flex-basis: 25%;
  }
  .choose-broker__info:nth-of-type(2) {
    order: 3;
    border-top: 1px solid #f1f2f2;
    padding-top: 5px;
  }
  .choose-broker__info:nth-of-type(3) {
    order: 4;
    border-top: 1px solid #f1f2f2;
    padding-top: 5px;
  }
  .choose-broker__info:nth-of-type(4) {
    order: 5;
    border-top: 1px solid #f1f2f2;
    padding-top: 5px;
  }
  .choose-broker__info:nth-of-type(5) {
    order: 6;
  }
  .choose-broker__info:nth-of-type(6) {
    order: 7;
  }
  .choose-broker__comments {
    order: 8;
  }
  .choose-broker__btn:nth-of-type(1) {
    order: 9;
  }
  .choose-broker__btn:nth-of-type(2) {
    order: 10;
  }
  .choose-broker__info {
    border-top: none;
    align-items: left;
    padding-left: 20px !important;
    flex-basis: 33.3%;
    align-content: flex-start;

    &:last-of-type {
      margin-right: auto;
    }
  }
  .choose-broker__info {
    height: 58px;
    b {
      font-size: 16px;
    }
  }
  .choose-broker__comments {
    margin-top: 10px;
    p {
      font-size: 16px;
    }
  }
  .choose-broker__btn {
    margin-top: 17px;
    border-top: 1px solid #f1f2f2;
    flex-basis: 50%;
    height: 60px;
    padding: 0;
    min-height: 60px;
    box-sizing: border-box;
    max-width: none !important;
    width: 100%;

    br {
      display: none;
    }
  }
  .request-hint {
    margin-bottom: 20px;
  }

  .page-request .search__item--money::before, .page-find-brokers .search__item--money::before {
    top: 36px;
  }

  .page-broker-registration {
    .preview {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .preview__title {
      margin-top: 10px;
      font-size: 24px;
    }
    .preview__img {
      width: 100px;
      height: 100px;
    }
    .preview__steps {
      padding: 0;
    }
  }
  .request__wrapper--mortgage .request__flex-wrapper--padding .request__item {
    width: 100%;
    flex-basis: 100%;
  }
  .request__wrapper--company {
    .request__flex-wrapper {
      flex-wrap: wrap;
    }
    .request__item {
      width: 49% !important;
      max-width: 100% !important;
      margin-left: 0;
      margin-right: 0;

      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6){
        flex-basis: auto;
        max-width: 100% !important;
        width: 49% !important;
      }
      &:nth-child(7){
        width: 100% !important;
        max-width: 100% !important;
      }
    }
  }
}
