@import 'global/responsive-max-lg-80.scss';
@import 'global/responsive-max-lg.scss';
@import 'global/responsive-max-800.scss';

@media (max-width: 550px) {
  .modal-login {
    max-height: 255px;
  }
  .modal-sign, .modal-login {
    padding: 10px;
  }
  .modal-sign {
    max-height: 525px;
  }
  .modal-sign__title, .modal-login__title {
    font-size: 18px;
    margin-top: 0;
  }
  .modal-sign__text,
  .modal-login__text {
    font-size: 13px;
  }
  .modal-sign__form {
    margin-top: 15px;
  }
  .modal-sign__wrapper {
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;

    div {
      flex-wrap: wrap;

      input {
        flex-basis: 100%;
        width: 100%;
        box-sizing: border-box;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  .modal-sign__wrapper {
    margin-top: 5px;
  }
  .modal-sign__input {
    margin: 5px 5px;
  }
  .modal-select__textbox {
    font-size: 14px;
  }
}

@import 'global/responsive-max-450.scss';

@media (min-width: 320px) and (max-width: 1430px) {
  .request__data-info {
    &::before {
      left: auto;
      right: -20px;
      transform: translateX(0);
    }
    &::after {
      bottom: 24px;
      right: -3px;
      left: auto;
      transform: translateX(0) rotate(-45deg);
    }
  }
}

@media (min-width: 660px) and (max-width: 800px) {
  .page-find-brokers {
    .featured-card {
      margin: 7px 5% !important;
    }
  }
}

@media (min-width: 900px) and (max-width: $device-lg-width) {
  .page-find-brokers {
    .featured-card {
      margin: 10px 3% !important;
    }
  }
}
