.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-001-twitter {
	font-size:(486.39/10)*1rem;
	width:(486.39/486.39)*1em;
}
.icon-003-telegram {
	font-size:(1000/10)*1rem;
	width:(1000/1000)*1em;
}
.icon-007-facebook {
	font-size:(49.652/10)*1rem;
	width:(49.652/49.652)*1em;
}
.icon-008-linkedin {
	font-size:(486.39/10)*1rem;
	width:(486.39/486.39)*1em;
}
.icon-arrow-down {
	font-size:(12/10)*1rem;
	width:(10/12)*1em;
}
.icon-arrow-right {
	font-size:(10/10)*1rem;
	width:(16/10)*1em;
}
.icon-checkmark {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-logo {
	font-size:(40/10)*1rem;
	width:(67.5/40)*1em;
}
.icon-minus {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-plus {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-post-request {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-progress-item-arrow {
	font-size:(94/10)*1rem;
	width:(320/94)*1em;
}
.icon-progress-item-bg {
	font-size:(207/10)*1rem;
	width:(331/207)*1em;
}
.icon-star {
	font-size:(16/10)*1rem;
	width:(14/16)*1em;
}
.icon-start {
	font-size:(16/10)*1rem;
	width:(15.969/16)*1em;
}
