$primary-font-family: "Gilroy", "Arial", sans-serif;
$secondary-font-family: "Campton", "Arial", sans-serif;

$device-xs-width: 320px;
$device-sm-width: 768px;
$device-md-width: 992px;
$device-lg-width: 1200px;

$primary-xs-font-size: 14px;
$primary-sm-font-size: 14px;
$primary-md-font-size: 14px;
$primary-lg-font-size: 16px;

$secondary-xs-font-size: 36px;
$secondary-sm-font-size: 40px;
$secondary-md-font-size: 44px;
$secondary-lg-font-size: 44px;

$primary-content-bg-color: #ffffff;

$primary-text-color: #3B414C;
$primary-title-text-color: #0f1f45;

$color-green: #0cb175;
$color-purple: #382c75;
$color-black: #000000;
$color-gray: #8a8c8f;
$color-white: #ffffff;
$color-blue: #18316b;
$color-red: #f2744d;
$color-bg-card-off: #e7e7e8;


$flag-icon-css-path: '../flags' !default;
$flag-icon-rect-path: '/4x3' !default;
$flag-icon-square-path: '/1x1' !default;
