.page-request {
  .intro {
    background-color: #ececec;
    background-image: url("../img/request-bg.jpg");
    background-position: top right;
    color: $color-black;
    min-height: auto;
    max-height: 100%;
    padding-bottom: 50px;

    h1 {
      display: block;
      padding-top: 184px;
      margin-top: 0;
      margin-bottom: 59px;
      max-width: 900px;
      line-height: 97px;
      font-size: 80px;
    }
    .btn {
      &:last-child {
        width: 225px;
        box-sizing: border-box;
      }
    }
  }
  .intro__list {
    flex-basis: 732px;
    max-width: 732px;
  }
  .intro__btn:first-of-type {
    color: $color-black;
    border: 1px solid $color-black;

    span {
      &::after {
        color: $color-black;
      }
    }
  }

}

.page-request,
.page-find-brokers {
  .search {
    margin-top: 0;
    padding-top: 18px;
  }
  .search__form {
    display: flex !important;
  }
  .search__item {
    margin-top: 30px;
  }
  .search__submit {
    width: 100%;
    margin-top: 30px;
    padding: 20px 0;
    max-height: 60px;
    height: 60px;
    flex-basis: calc(100%);
    max-width: calc(100%);
    letter-spacing: 1.5px;
    padding-top: 24px;
  }
  .search__item--money {
    position: relative;

    &::before {
      content: "$";
      position: absolute;
      top: 37px;
      left: 10px;
      font-size: 11px;
      font-weight: 800;
      color: #8a8c8f;
    }
  }
  .search__input--select {
    padding-left: 0;
  }
  option {
    padding-left: 30px;
  }
}

.page-find-brokers {

  .search {
    margin-bottom: 7px;
    h2 {
      margin-top: 16px;
    }
  }
  .page-nav {
    margin-top: 14px;
  }
  header.featured-card__wrapper {
    padding: 0px 22px;
    padding-top: 16px;
    padding-bottom: 5px;
  }
  main.featured-card__wrapper {
    padding-left: 22px;
  }
  footer.featured-card__wrapper {
    .btn {
      &:last-child {
        background: none;
        color: $color-green;

        &:hover {
          background-color: $color-green;
          color: $color-white;
        }
      }
    }
  }
  .featured__cards {
    justify-content: space-between;
  }
  .featured-card {
    margin: 21px 20px;
  }
}
