body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: $primary-content-bg-color;
  color: #000000;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.5;
}

p {
  margin: 0;
  line-height: 1.8;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #7e7e7e;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  display: block;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 10px;
  transition: transform 500ms ease;
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.overlay {
  &::after {
    content: "";
    z-index: 998;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 150vh;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 500ms ease;
  }
}
