@media (min-width: 360px) {
  .footer__form {
    flex-wrap: nowrap;

    input {
      width: auto;
    }
    input[type="email"] {
      flex-grow: 2;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-bottom: 0px;
    }
    input[type="submit"] {
      flex-grow: 1;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      background-color: $primary-title-text-color;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 13px;
    }
  }
}

@media (min-width: 500px) {
  .header__bg {
    display: block;
  }
}

@media (min-width: 704px) {
  .form__input {
    width: 47%;
    &--textarea {
      width: 100%;
    }
    &--submit {
      max-width: 240px;
    }
  }
  .footer__container {
    flex-wrap: nowrap;
  }
  .footer__wrapper {
    width: auto;

    &--left {
      width: auto;
    }
    p {
      text-align: left;
    }
    .social {
      margin: 0;
      margin-top: auto;
    }
  }
  .footer__title {
    text-align: left;
  }
  .footer__copy {
    margin: 0;
    margin-top: 20px;
  }
  .footer__logo {
    position: absolute;
    top: -63px;
    left: -148px;
    transform: translateX(0);
  }
}

@media (min-width: $device-md-width) {
  .burger {
    display: none;
  }
  .header {
    padding-bottom: 200px;
  }
  .header__wrapper {
    position: relative;
  }
  .header__nav {
    width: auto;
    margin-top: 10px;
    transform: translateY(0);
  }
  .nav-menu {
    width: auto;
  }
  .nav-menu__link {
    width: auto;

    &:hover {
      &::after {
        display: block;
        width: 50%;
        transition: 500ms ease;
      }
    }
    &--active {
      &::after {
        width: 50%;
        transition: 500ms ease;
      }
    }
  }
  .sign-up {
    margin-left: 20px;
    margin-top: 26px;
  }
  .header__bg {
    span {
      &:first-child {
        bottom: -28%;
        height: 500px;
      }
      &:last-child {
        bottom: -25%;
        left: 60%;
        width: 230px;
        height: 350px;
        animation-name: header-item-3;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      }
    }
  }
}

@media (min-width: $device-sm-width) and (max-width: $device-md-width) {
  .sign-up {
    position: absolute;
    top: -64px;
    right: 80px;
  }
}
