.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-001-twitter {
	font-size:(486.39/10)*1rem;
	width:(486.39/486.39)*1em;
}
.icon-003-telegram {
	font-size:(1000/10)*1rem;
	width:(1000/1000)*1em;
}
.icon-007-facebook {
	font-size:(49.652/10)*1rem;
	width:(49.652/49.652)*1em;
}
.icon-008-linkedin {
	font-size:(486.39/10)*1rem;
	width:(486.39/486.39)*1em;
}
