.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-001-twitter {
	font-size:(486.39/10)*1rem;
	width:(486.39/486.39)*1em;
}
.icon-002-skype {
	font-size:(508.52/10)*1rem;
	width:(508.52/508.52)*1em;
}
.icon-003-telegram {
	font-size:(1000/10)*1rem;
	width:(1000/1000)*1em;
}
.icon-004-gmail {
	font-size:(216/10)*1rem;
	width:(216/216)*1em;
}
.icon-005-vk {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-006-instagram {
	font-size:(49.652/10)*1rem;
	width:(49.652/49.652)*1em;
}
.icon-007-facebook {
	font-size:(49.652/10)*1rem;
	width:(49.652/49.652)*1em;
}
.icon-008-linkedin {
	font-size:(486.39/10)*1rem;
	width:(486.39/486.39)*1em;
}
.icon-009-github {
	font-size:(438.549/10)*1rem;
	width:(438.549/438.549)*1em;
}
.icon-link-symbol {
	font-size:(457.03/10)*1rem;
	width:(457.03/457.03)*1em;
}
