$primary-font-family: "Open Sans", "Arial", sans-serif;

$device-xs-width: 320px;
$device-sm-width: 768px;
$device-md-width: 992px;
$device-lg-width: 1200px;

$primary-xs-font-size: 14px;
$primary-sm-font-size: 14px;
$primary-md-font-size: 14px;
$primary-lg-font-size: 16px;

$secondary-xs-font-size: 36px;
$secondary-sm-font-size: 40px;
$secondary-md-font-size: 44px;
$secondary-lg-font-size: 44px;

$primary-content-bg-color: #f4f4f4;

$primary-text-color: #3B414C;
