body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 15px;
  line-height: 32px;
  color: #ffffff;
  background-color: #ffffff;
}

        /*common style*/
.btn {
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 12px;
  text-transform: uppercase;
  color: #fcff19;
  opacity: 1;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  color: #ffffff;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin: 0 auto;
}

        /*header*/
.header {
  position: relative;
  background: #877677 url("../img/bg-header-slide-1.jpg") no-repeat center;
  background-size: cover;
}

.header__wrapper {
  position: relative;

  margin: 0 auto;
  padding: 20px 23px 400px 23px;
  text-align: center;
}

.header__logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 275px;
  font-size: 0;
}

.main-menu {
  display: inline-block;
  vertical-align: middle;

  font-size: 0;
}

.main-menu__item {
  position: relative;

  display: inline-block;
  vertical-align: middle;
  padding: 0 15px;
  list-style: none;
}

.main-menu__item:not(:last-child) {
  margin-right: 10px;
}

.main-menu__item:hover .main-menu__sub-menu{
  display: block;
}

.main-menu__item:hover {
  background-color: #fcff19;
  border-radius: 7px;
}

.main-menu__item:hover .main-menu__link {
  color: #000000;
}

.main-menu__link {
  color: #ffffff;
  text-decoration: none;
}

.main-menu__list {
  padding: 0;
  margin: 0;

  font-size: 15px;
}

.main-menu__sub-menu {
  position: absolute;
  top: 23px;
  left: 0;

  display: none;
  padding: 0;
  padding-top: 10px;
  padding-left: 15px;

  background-color: #fcff19;
  border-radius: 7px;
}

.main-menu__sub-menu .main-menu__item {
  padding: 0;
}

.main-menu__sub-menu .main-menu__link {
  display: block;
  width: 100%;
  margin-right: 40px;

  text-align: left;
  white-space: nowrap;
}

.header__basket {
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px;

  font-size: 0;
}

.header__link {
  display: block;
  width: 29px;
  height: 29px;
}

.header__link::before {
  content: "";
  display: block;
  width: 29px;
  height: 29px;

  background: url("../img/sprite-picture.png") no-repeat;
  background-position: -20px -20px;
}

.header__link:hover {
  opacity: 0.5;
}

.header__link:active {
  transform: scale(1.1);
}

.header__title {
  margin-top: 320px;
  margin-bottom: 0;

  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__text {
  font-size: 28px;
}

.header__text--yellow {
  color: #fcff19;
}

.header__btn-shop {
  margin-top: 35px;
  background-color: #000000;
}

.header__btn {
  position: absolute;
  margin: 0 23px;
  width: 56px;
  height: 56px;

  font-size: 0;

  background: url("../img/sprite-picture.png") no-repeat 0 0;
  border: 2px solid #ffffff;
  border-radius: 8px;
  opacity: 1;
  outline: none;

  cursor: pointer;
}

.header__btn:hover {
  opacity: 0.5;
}

.header__btn:active {
  transform: scale(1.1);
}

.header__btn--left {
  top: 50%;
  left: 0;
  background-position: -6px -75px;
}

.header__btn--right {
  top: 50%;
  right: 0;
  background-position: -3px -144px;
  border: 2px solid #535353;
}

.header__scroll-picture {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 66px;
  height: 77px;

  font-size: 0;
  background: url("../img/sprite-picture.png") no-repeat;
  background-position: -20px -224px;
  cursor: pointer;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 385px;
  height: 4px;

  background-color: #fcff19;
}

        /*catalog*/
.catalog {
  margin: 0;
  min-height: 578px;
  padding-bottom: 50px;

  text-align: center;
  background: #eeeeee url("../img/bg-categories.jpg") no-repeat center bottom;
  background-size: cover;
}

.catalog__title {
  padding-top: 70px;
  padding-bottom: 35px;
  margin: 0;

  font-size: 28px;
  text-transform: uppercase;
  color: #000000;
}

.catalog__item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  margin-top: 35px;
  padding-top: 135px;
  padding-bottom: 55px;
  width: 347px;
  min-height: 98px;

  text-align: center;
  font-size: 0;
}

.catalog__item:last-child {
  margin-right: 0;
}

.catalog__name {
  margin: 0;

  font-size: 15px;
  text-transform: uppercase;
  color: #fcff19;
}

.catalog__text {
  margin: 0;
  margin-bottom: 25px;

  font-size: 16px;
  color: #ffffff;
}

.catalog__btn {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);

  display: none;
  margin: 0 auto;
  margin-top: 25px;
  padding: 0 15px;
  width: 90px;

  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  border: 3px solid #ffffff;
  border-radius: 8px;
}

.catalog__item:hover {
  box-shadow: -5px 5px 5px rgba(252, 255, 25, 0.5),
               5px 5px 5px rgba(252, 255, 25, 0.5),
               -5px -5px 5px rgba(252, 255, 25, 0.5),
               5px -5px 5px rgba(252, 255, 25, 0.5);
}

.catalog__item:hover .catalog__btn {
  display: block;
}

.catalog__btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.catalog__item--bg-1 {
  background: #919191 url("../img/categories-picture-1.jpg") no-repeat center bottom;
}

.catalog__item--bg-2 {
  background: #919191 url("../img/categories-picture-2.jpg") no-repeat center bottom;
}

.catalog__item--bg-3 {
  background: #919191 url("../img/categories-picture-3.jpg") no-repeat center bottom;
}

        /*popular*/
.popular {
  padding-bottom: 35px;
}

.popular__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0 23px;
  text-align: center;
}

.popular__title {
  padding: 70px 0;
  margin: 0;

  font-size: 28px;
  text-transform: uppercase;
  color: #000000;
}

.product {
  display: inline-block;
  vertical-align: middle;
  width: 467px;
  margin-right: 100px;
}

.product:last-of-type {
  margin-right: 0;
}

.product__info {
  float: left;
  width: 200px;
  margin-right: 10px;
  margin-top: -10px;

  text-align: left;
  font-size: 0;
}

.product__name {
  margin: 0;

  font-size: 15px;
  text-transform: uppercase;
  color: #000000;
}

.product__price {
  font-size: 15px;
  color: #000000;
}

.product__form {
  float: right;
  width: 250px;
  text-align: right;

  outline: none;
}

.product__select-list {
  width: 143px;
  padding: 15px 0 13px 20px;

  font-size: 12px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;

  border: 1px solid #8f8f8f;
  border-radius: 8px;
}

.product__select-list:focus {
  outline: none;
}

.product__submit {
  padding: 16px 33px;

  background-color: #000000;
  outline: none;
  border: none;
}

        /*feedback*/
.feedback {
  min-height: 555px;
  padding-bottom: 80px;

  background: #fdfdfd url("../img/bg-feedback.jpg") no-repeat center bottom;
  background-size: cover;
}

.feedback__wrapper {
  display: block;
  margin: 0 auto;
  max-width: 450px;
}

.feedback__title {
  padding-top: 70px;
  padding-bottom: 50px;
  margin: 0;

  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.feedback__text {
  margin: 0;
  margin-bottom: 45px;

  font-size: 16px;
  text-align: center;
  color: #000000;
}

.feedback__label {
  display: none;
}

.feedback__item {
  border: 1px solid #dadada;
  border-radius: 8px;
}

.feedback__name,
.feedback__surname {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 15px;
  padding-right: 0;
  width: 195px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.feedback__form input:focus,
.feedback__textarea:focus {
  outline: none;
}

.feedback__name {
  margin-right: 20px;
}

.feedback__email {
  padding: 10px 15px;
  padding-right: 0;
  margin-top: 20px;
  width: 432px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.feedback__textarea {
  padding: 18px 15px;
  padding-right: 0;
  margin-top: 20px;
  width: 432px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;

  resize: none;
}

.feedback__submit {
  width: 450px;
  margin-top: 22px;
  padding: 15px 0;
  background-color: #b7b7b7;
  border-radius: 8px;
  border: none;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  cursor: pointer;
}

.feedback__item:hover {
  border: 1px solid #fcff19;
  border-radius: 8px;
}

.feedback__item:focus {
  border: 1px solid #fcff19;
  background-color: #d7d7d7;
}

.feedback__submit:focus {
  outline: none;
}

.feedback__submit:hover {
  color: #000000;
  background-color: #dadada;
}

.feedback__submit:active {
  background-color: #919191;
}

        /*footer*/
.footer {
  padding: 15px 0;

  background-color: #fcff19;
}

.footer__wrapper {
  position: relative;
  max-width: 1874px;
  margin: 0 auto;
  padding: 0 23px;
  text-align: center;
}

.footer__logo {
  display: block;
  float: left;
  width: 175px;
  margin-left: 52px;
}

.footer__picture {
  transform: scale(0.8);
  filter: invert(100%);
}

.menu {
  display: block;
  float: right;
  min-width: 380px;
  margin-top: 18px;
  margin-right: 52px;
}

.menu__list {
  padding: 0;
  margin: 0;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 35px;

  font-size: 0;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.menu__link:hover {
  opacity: 0.7;
}
