body {
	min-width: 1170px;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 18px;
	font-style: normal;
	line-height: 30px;
	color: #ffffff;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.btn {
	display: block;
	width: auto;

	text-align: center;
	font-size: 25px;
	line-height: 23px;
	font-weight: 600;
	text-decoration: none;
	color: #ffffff;

	background-color: #00a5ff;
	border-radius: 35px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

.btn:hover {
	opacity: 0.7;
}

.btn:active {
	opacity: 0.5;
	text-shadow: 1px 1px 1px #000000;
}

.title {
	position: relative;

	text-align: center;
	font-family: "Lora", "Arial", serif;
	font-size: 41px;
	line-height: 23px;
	font-weight: 700;
	text-transform: uppercase;
	color: #3a3f4b;
}

.title:after {
	content: "";
	position: absolute;
	bottom: -36px;
	left: 50%;
	transform: translateX(-50%);

	display: block;
	width: 147px;
	height: 4px;

	background-color: #00a5ff;
	text-align: center;
}

.header {
	padding-top: 20px;
	padding-bottom: 58px;

	background: #9b9ea5 url("../img/header/bg-header.jpg") no-repeat center bottom;
	background-size: cover;
}

.header__logo {
	float: left;
  width: 130px;
}

.menu {
	float: right;
  width: 600px;
  margin-top: 5px;
}

.menu__list {
	padding: 0;
	margin: 0;
}

.menu__item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 53px;

	font-size: 0;
}

.menu__item:last-child {
	margin-right: 0;
}

.menu__link {
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
	color: #ffffff;

	opacity: 0.7;
}

.menu__link:hover {
	opacity: 0.9;
}

.menu__link:active {
	text-shadow: 1px 1px 1px #000000;
	opacity: 1;
}

.header__title {
	display: block;
	padding-top: 230px;
	margin: 0;

	text-align: center;
	font-family: "Lora", "Arial", serif;
	font-size: 58px;
	line-height: 100px;
	font-weight: 700;
	color: #ffffff;
}

.header__text {
  margin-top: 20px;

	text-align: center;
	font-size: 25px;
	line-height: 23px;
}

.header__btn {
	width: 200px;
  padding: 24px 60px;
  margin: 93px auto;

  text-align: center;
  font-weight: 400;
}

.services {
	padding-top: 44px;
	padding-bottom: 82px;
}

.services__wrapper {
  display: flex;
  justify-content: space-between;
	margin-top: 225px;
}

.services__item {
	width: 255px;
	margin-right: 25px;
}

.services__item:last-child {
	margin-right: 0;
}

.services__subtitle {
	position: relative;
	margin: 0;
  margin-bottom: 26px;

	text-align: center;
	text-transform: uppercase;
	font-family: "Source Sans Pro", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #3a3f4b;
}

.services__subtitle::before {
  content: "";
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);

  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 10px;

  font-size: 0;
  border-radius: 50%;

  background: #f5f6f8 url("../img/icon/icons-sprite.png") no-repeat;
}

.services--logo-design::before {
  background-position: 8px 8px;
}

.services--web-design::before {
  background-position: -61px 8px;
}

.services--branding::before {
  background-position: -125px 7px;
}

.services--illustrations::before {
  background-position: -186px 5px;
}

.services__subtitle::after {
	content: "";
	position: absolute;
	bottom: -13px;
	left: 50%;
	transform: translateX(-50%);

	width: 41px;
	height: 1px;

	background-color: #888888;
	box-shadow: 0 1px 0 #e1e1e1;
	text-align: center;
}

.services__text {
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	font-weight: 300;
	color: #999999;
}

.portfolio {
	padding-top: 17px;
	padding-bottom: 95px;

	background-color: #f5f6f8;
}

.portfolio__sort {
	padding: 0;
	margin: 0;
	margin-top: 90px;

	text-align: center;
}

.portfolio__sort-item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 50px;

	font-size: 0;
}

.portfolio__sort-item:last-child {
	margin-right: 0;
}

.portfolio__sort-link {
	position: relative;
	padding-bottom: 7px;

	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #999999;
}

.portfolio__sort-link--active {
	box-shadow: 0 1px 0 #00a5ff;
	color: #00a5ff;
  cursor: default;
}

.portfolio__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
	margin-top: 20px;
}

.portfolio__item {
	position: relative;
	margin: 0;
	margin-top: 15px;

	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.portfolio__item:nth-child(3n) {
	margin-right: 0;
}

.portfolio__name {
	display: block;
	padding: 7px 34px 22px 34px;

	font-size: 18px;
	font-weight: 700;
	color: #999999;

	background-color: #f4f5f9;
}

.portfolio__btn {
	width: 160px;
  margin: 65px auto;
  margin-bottom: 0;
  padding: 19px 61px;

  font-weight: 400;
  text-transform: uppercase;
}

.brands {
	padding-top: 25px;
	padding-bottom: 125px;
}

.brands__title {
	margin-bottom: 115px;
}

.brands__icons {
	display: flex;
	justify-content: space-between;
  align-items: center;
}

.brands__link {
	opacity: 0.5;
}

.brands__link:last-child {
	margin-right: 0;
}

.brands__link:hover {
	opacity: 1;
}

.brands__link:active {
	opacity: 0.3;
}

.comment {
	position: relative;
	padding-top: 22px;
	padding-bottom: 61px;

	background-color: #f5f6f8;
}

.slider {
  position: relative;
  margin-top: 113px;
}

.slider__wrapper {
	position: relative;

	margin: 0 auto;
	padding: 0 5px;
	padding-bottom: 82px;
	width: 575px;
}

.slider__picture {
	text-align: center;
}

.slider__link {
	margin-right: 92px;
	font-size: 0;
}

.slider__link:last-child {
	margin-right: 0;
}

.slider__avatar {
	opacity: 0.6;
}

.slider__avatar--active {
	opacity: 1;
	transform: scale(1.2);
	cursor: default;
}

.slider__avatar:hover:not(.slider__avatar--active) {
	opacity: 0.9;
}

.slider__avatar:active:not(.slider__avatar--active) {
	opacity: 1;
}

.slider__text {
	display: none;

	text-align: center;
}

.slider__text--active {
	display: block;
}

.slider__comment {
	margin: 38px 0 30px 0;

	font-family: "Lora", "Arial", serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 400;
	color: #3a3f4b;
}

.slider__author-requisite {
	margin: 0;

	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	font-style: normal;
	color: #3a3f4b;
}

.slider__author-link {
	font-size: 18px;
	line-height: 30px;
	font-style: normal;
	color: #3a3f4b;
}

.slider__btn {
	position: absolute;

	font-size: 0;
}

.slider__btn--left {
	top: 35%;
	left: 22px;
}

.slider__btn--right {
	top: 35%;
	right: 22px;
}

.slider__btn-svg {
	font-size: 0px;
}

.slider__btn-svg:hover {
	opacity: 0.5;
}

.slider__btn-svg:active {
	opacity: 0.9;
	transform: scale(1.1);
}

.slider__controls {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	text-align: center;
}

.slider__radio {
	display: none;
}

.slider__toggle {
	position: relative;

	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 12px;
	margin-right: 12px;

	font-size: 0;
	border-radius: 50%;
	background-color: #999999;
	cursor: pointer;
}

.slider__toggle:last-child {
	margin-right: 0;
}

#radio-1:checked ~ .slider__controls label[for="radio-1"],
#radio-2:checked ~ .slider__controls label[for="radio-2"],
#radio-3:checked ~ .slider__controls label[for="radio-3"] {
	background: #3a3f4b;
  cursor: default;
}

.slider__text {
	display: none;
}

#radio-1:checked ~ .slider__text--author-1,
#radio-2:checked ~ .slider__text--author-2,
#radio-3:checked ~ .slider__text--author-3 {
	display: block;
}

.contact-us {
	padding: 58px 0 70px 0;

	background-color: #3b404c;
}

.contact-us__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 73px;
}

.contact-us__title {
	font-family: "Lora", "Arial", serif;
	font-size: 33px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
}

.menu--contact-us {
	padding: 0;
	margin: 0;
  margin-top: 18px;

  text-align: right;
}

.menu--contact-us .menu__item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;

	font-size: 0;
	list-style: none;
}

.menu--contact-us .menu__item:last-child {
	margin-right: 0;
}

.menu--contact-us .menu__link {
	font-size: 20px;
	line-height: 40px;
  font-weight: 400;
	text-decoration: none;
	color: #ffffff;
}

.contact-us__info {
	float: left;
	width: 300px;
}

.contact-us__name {
  margin-top: 27px;
  margin-bottom: 20px;

	font-size: 24px;
	line-height: 24px;
	font-weight: 600;
  text-transform: uppercase;
}

.contact-us__name:not(:first-child) {
  margin-top: 50px;
}

.contact-us__text {
	font-size: 18px;
	line-height: 24px;
	color: #999999;
	text-decoration: none;
}

.contact-us__text--phone {
  padding-right: 155px;
}

.contact-us__text:hover {
	opacity: 0.8;
}

.contact-us__text:active {
	text-shadow: 1px 1px 1px #000000;
}

.feedback {
	float: right;
	width: 770px;
}

.feedback__label {
	display: inline-block;
  vertical-align: top;
	margin-right: 50px;
  margin-bottom: 14px;
	width: 355px;

	font-size: 25px;
	line-height: 38px;
}

.feedback__label:nth-of-type(2) {
	margin-right: 0;
}

.feedback__input {
	width: 335px;
}

.feedback__input:last-of-type {
	margin-right: 0;
}

.feedback__input,
.feedback__textarea {
	padding-left: 23px;
	padding-bottom:  10px;

	font-size: 24px;
	color: #ffffff;

	border: none;
	border-bottom: 2px solid #7a7b7f;
	background: none;
}

.feedback__input:focus,
.feedback__textarea:focus {
	outline: none;
	border-bottom: 2px solid #00a5ff;
}

.feedback__message {
	width: 100%;
	margin-top: 50px;
}

.feedback__textarea {
	width: 740px;
	resize: none;
}

.feedback__btn {
	margin: 0;
	margin-top: 40px;
	padding: 20px 51px;
	width: auto;

	outline: none;
	border: none;
}

.footer {
	position: relative;

	padding: 30px 0;
}

.footer__copyright {
	float: left;
	width: 200px;
}

.social-icons {
	float: right;
	width: 250px;

  text-align: right;
}

.footer__copyright-text {
	vertical-align: middle;

	font-family: "Montserrat", "Arial", sans-serif;
	font-size: 13px;
	line-height: 26px;
	color: #999999;
}

.social-link {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 30px;
	height: 31px;

	font-size: 0;

	background: url("../img/icon/icons-sprite.png") no-repeat;
}

.social-link:last-child {
	margin-right: 0;
}

.social-link-fb {
	background-position: -278px -15px;;
}

.social-link-tw {
	background-position: -338px -15px;
}

.social-link-cp {
	background-position: -398px -15px;
}

.social-link-ln {
	background-position: -458px -15px;
}

.social-link:hover {
	opacity: 0.8;
}

.social-link:active {
	transform: scale(1.1);
}

.footer__btn-back {
	position: absolute;
	bottom: 88px;
  left: 50%;
  transform: translateX(-50%);

	width: 68px;
	height: 68px;

  font-size: 0;

	border-radius: 50%;

	cursor: pointer;
}

.footer__btn-back-svg {
	margin: 0;
}

.footer__btn-back-svg:hover {
	opacity: 1;
	background-color: #0297e8;
}
