body {
	min-width: 1400px;
	font-style: "Open Sans", "Arial", sans-serif;
	font-size: 18px;
	font-style: normal;
	line-height: 30px;
	color: #ffffff;
}

				/*common style*/
.container {
	position: relative;
	width: 1170px;
	padding: 0 115px;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.btn {
	display: block;
	margin: 80px auto;
	width: auto;
	text-align: center;
	font-size: 25px;
	line-height: 23px;
	font-weight: 600;
	text-decoration: none;
	color: #ffffff;
	background-color: #00a5ff;
	border-radius: 35px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

.btn:hover {
	opacity: 0.7;
}

.btn:active {
	opacity: 0.5;
	text-shadow: 1px 1px 1px #000000;
}

.title-line {
	position: relative;
	text-align: center;
	font-family: "Lora", "Arial", serif;
	font-size: 41px;
	line-height: 23px;
	font-weight: 700;
	text-transform: uppercase;
	color: #3a3f4b;
}

.title-line:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	width: 147px;
	height: 4px;
	background-color: #00a5ff;
	text-align: center;
}
				/*header*/
.header {
	padding-top: 20px;
	padding-bottom: 70px;
	background: #9b9ea5 url("../img/header/bg-header.jpg") no-repeat center bottom;
	background-size: cover;
}

.header__logo {
	float: left;
}

.main-menu {
	float: right;
}

.main-menu__list {
	padding: 0;
	margin: 0;
}

.main-menu__item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 60px;
	font-size: 0;
}

.main-menu__item:last-child {
	margin-right: 0;
}

.main-menu__link {
	text-decoration: none;
	font-style: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #ffffff;
	opacity: 0.7;
}

.main-menu__link:hover {
	opacity: 0.9;
}

.main-menu__link:active {
	text-shadow: 1px 1px 1px #000000;
	opacity: 1;
}

.header__title {
	display: block;
	padding-top: 238px;
	margin: 0;
	text-align: center;
	font-family: "Lora", "Arial", serif;
	font-size: 58px;
	line-height: 100px;
	font-weight: 700;
	color: #ffffff;
}

.header__text {
	text-align: center;
	font-size: 25px;
	line-height: 23px;
}

.header__btn {
	width: 200px;
	padding: 23px 73px;
}

					/*services*/
.services {
	padding-top: 65px;
	padding-bottom: 95px;
}

.services__wrapper {
	margin-top: 85px;
}

.service {
	display: inline-block;
	vertical-align: top;
	width: 267px;
	margin-right: 25px;
	font-size: 0;
}

.service:last-child {
	margin-right: 0;
}

.service--bg {
	display: block;
	width: 80px;
	height: 80px;
	margin: 0 auto;
	margin-bottom: 10px;
	font-size: 0;
	border-radius: 50%;
	background: #f5f6f8 url("../img/icon/icons-sprite.png") no-repeat;
}

.service__logo-design {
	background-position: 8px 8px;
}

.service__web-design {
	background-position: -61px 8px;
}

.service__branding {
	background-position: -125px 7px;
}

.service__illustration {
	background-position: -186px 5px;
}

.service__name {
	position: relative;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	font-family: "Source Sans Pro", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #3a3f4b;
}

.service__name:after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	width: 41px;
	height: 1px;
	background-color: #888888;
	box-shadow: 0 1px 0 #e1e1e1;
	text-align: center;
}

.service__text {
	text-align: center;
	font-family: "Open Sans", "Arial" sans-serif;
	font-size: 12px;
	line-height: 30px;
	font-weight: 300;
	color: #999999;
}

					/*portfolio*/
.portfolio {
	padding-top: 65px;
	padding-bottom: 95px;
	background-color: #f5f6f8;
}

.sort {
	padding: 0;
	margin: 0;
	margin-top: 85px;
	text-align: center;
}

.sort__item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 60px;
	font-size: 0;
}

.sort__item:last-child {
	margin-right: 0;
}

.sort__link {
	position: relative;
	padding-bottom: 5px;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #999999;
}

.sort__link--active {
	box-shadow: 0 1px 0 #00a5ff;
	color: #00a5ff;
}

.portfolio__list {
	margin-top: 30px;
}

.portfolio__item {
	position: relative;
	margin: 0;
	margin-right: 7px;
	margin-top: 15px;
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.portfolio__item:nth-child(3n) {
	margin-right: 0;
}

.portfolio__name {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	padding: 25px 34px 30px 34px;
	font-size: 18px;
	font-weight: 700;
	color: #999999;
	background-color: #f4f5f9;
}

.portfolio__btn {
	width: 155px;
	margin-top: 60px;
	margin-bottom: 0;
	padding: 15px 65px;
}

					/*brands*/
.brands {
	padding-top: 55px;
	padding-bottom: 125px;
}

.brands__title {
	margin-bottom: 115px;
}

.brands__icons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.brands__link {
	opacity: 0.7;
}

.brands__link:last-child {
	margin-right: 0;
}

.brands__link:hover {
	opacity: 1;
}

.brands__link:active {
	opacity: 0.3;
}

					/*feedback*/
.feedback {
	position: relative;
	padding-top: 55px;
	padding-bottom: 75px;
	background-color: #f5f6f8;
}

.slider__wrapper {
	position: relative;
	margin: 0 auto;
	margin-top: 85px;
	padding: 0 5px;
	padding-bottom: 70px;
	width: 575px;
}

.slider__picture {
	text-align: center;
}

.slider__link {
	margin-right: 45px;
	font-size: 0;
}

.slider__link:last-child {
	margin-right: 0;
}

.slider__avatar {
	opacity: 0.6;
}

.slider__avatar--active {
	opacity: 1;
	transform: scale(1.2);
	cursor: default;
}

.slider__avatar:hover:not(.slider__avatar--active) {
	opacity: 0.9;
}

.slider__avatar:active:not(.slider__avatar--active) {
	opacity: 1;
}

.slider__text {
	display: none;
	text-align: center;
}

.slider__text--active {
	display: block;
}

.slider__comment {
	margin: 45px 0 30px 0;
	font-family: "Lora", "Arial", serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 400;
	color: #3a3f4b;
}

.slider__author-requisite {
	margin: 0;
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	font-style: normal;
	color: #3a3f4b;
}

.slider__author-link {
	font-size: 18px;
	line-height: 30px;
	font-style: normal;
	color: #3a3f4b;
}

.slider__btn {
	position: absolute;
	font-size: 0;
}

.slider__btn--left {
	top: 50%;
	left: 0;
}

.slider__btn--right {
	top: 50%;
	right: 0;
}

.slider__btn-svg {
	font-size: 0px;
}

.slider__btn-svg:hover {
	opacity: 0.5;
}

.slider__btn-svg:active {
	opacity: 0.9;
	transform: scale(1.1);
}

.slider__controls {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

.slider__radio {
	display: none;
}

.slider__toggle {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 12px;
	margin-right: 15px;
	font-size: 0;
	border-radius: 50%;
	background-color: #999999;
	cursor: pointer;
}

.slider__toggle:last-child {
	margin-right: 0;
}

#radio-1:checked ~ .slider__controls label[for="radio-1"],
#radio-2:checked ~ .slider__controls label[for="radio-2"],
#radio-3:checked ~ .slider__controls label[for="radio-3"] {
	background: #3a3f4b;
}

.slider__text {
	display: none;
}

#radio-1:checked ~ .slider__author-1,
#radio-2:checked ~ .slider__author-2,
#radio-3:checked ~ .slider__author-3 {
	display: block;
}

					/*contact us*/
.contact-us {
	padding: 80px 0 70px 0;
	background-color: #3b404c;
}

.contact-us__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 100px;
}

.contact-us__title {
	padding-left: 13px;
	font-family: "Lora", "Arial", serif;
	font-size: 33px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
}

.contact-us__menu-list {
	padding: 0;
	margin: 0;
}

.contact-us__menu-item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
	font-size: 0;
	list-style: none;
}

.contact-us__menu-item:last-child {
	margin-right: 0;
}

.contact-us__menu-link {
	font-size: 20px;
	line-height: 40px;
	text-decoration: none;
	color: #ffffff;
}

.contact-us__menu-link:hover {
	opacity: 0.9;
}

.contact-us__menu-link:active {
	text-shadow: 1px 1px 1px #000000;
	opacity: 1;
}

.contact-us__info {
	float: left;
	width: 295px;
}

.contact-us__name {
	font-size: 24px;
	line-height: 24px;
	font-weight: 600;
}

.contact-us__text {
	font-size: 18px;
	line-height: 24px;
	color: #999999;
	text-decoration: none;
}

.contact-us__text:hover {
	opacity: 0.8;
}

.contact-us__text:active {
	text-shadow: 1px 1px 1px #000000;
}

.contact-us__feedback {
	float: right;
	width: 770px;
}

.contact-us__label {
	display: inline-block;
	margin-right: 50px;
	width: 355px;
	font-size: 25px;
	line-height: 38px;
}

.contact-us__label:nth-of-type(2) {
	margin-right: 0;
}

.contact-us__input {
	width: 335px;
}

.contact-us__input:last-of-type {
	margin-right: 0;
}

.contact-us__input,
.contact-us__textarea {
	padding-left: 23px;
	padding-bottom: 12px;
	font-size: 24px;
	color: #ffffff;
	border: none;
	border-bottom: 2px solid #7a7b7f;
	background: none;
}

.contact-us__input:focus,
.contact-us__textarea:focus {
	outline: none;
	border-bottom: 2px solid #00a5ff;
}

.contact-us__message {
	width: 100%;
	margin-top: 50px;
}

.contact-us__textarea {
	width: 740px;
	resize: none;
}

.contact-us__btn {
	margin: 0;
	margin-top: 40px;
	padding: 20px 55px;
	width: auto;
	outline: none;
	border: none;
}

					/*footer*/
.footer {
	position: relative;
	padding: 30px 0;
}

.footer__copyright {
	float: left;
	width: 200px;
}

.footer__social-icons {
	float: right;
	width: 250px;
}

.footer__copyright-text {
	vertical-align: middle;
	font-family: "Montserrat", "Arial", sans-serif;
	font-size: 13px;
	line-height: 26px;
	color: #999999;
}

.footer__social-link {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 30px;
	height: 31px;
	font-size: 0;
	background: url("../img/icon/icons-sprite.png") no-repeat;
}

.footer__social-link:last-child {
	margin-right: 0;
}

.footer__social-facebook {
	background-position: -278px -15px;;
}

.footer__social-twitter {
	background-position: -338px -15px;
}

.footer__social-composite-path {
	background-position: -398px -15px;
}

.footer__social-linkedin {
	background-position: -458px -15px;
}

.footer__social-link:hover {
	opacity: 0.8;
}

.footer__social-link:active {
	transform: scale(1.1);
}

.footer__btn-back {
	position: absolute;
	bottom: 62px;
  left: 50%;
  transform: translateX(-50%);
	display: block;
	width: 68px;
	height: 68px;
	border-radius: 50%;
	font-size: 0;
	cursor: pointer;
}

.footer__btn-back-svg {
	margin: 0;
}

.footer__btn-back-svg:hover {
	opacity: 1;
	background-color: #0297e8;
}
