.btn {
  position: relative;
  display: block;
  color: $color-white;
  padding: 20px;
  background-color: $color-green;
  max-width: 200px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: $primary-font-family;
  font-weight: bold;
  letter-spacing: 1px;
  @include transition(300ms);

  &--arrow {
    span {
      position: relative;

      &::after {
        content: "\2192";
        position: absolute;
        top: 50%;
        right: -20px;
        transform: translateY(-50%);
        font-size: 18px;
        color: $color-white;
        font-weight: 400;
      }
    }
  }
  &:hover {
    @include transition(300ms);
    @include hover;
  }
}
