.btn {
  position: relative;
  display: block;
  color: $color-white;
  // border-radius: 4px;
  padding: 20px;
  background-color: $color-green;
  max-width: 200px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: $primary-font-family;
  font-weight: 800;
  letter-spacing: 1.2px;
  @include transition(300ms);

  &--arrow {
    span {
      position: relative;

      &::after {
        content: "\2192";
        position: absolute;
        top: 50%;
        right: -20px;
        transform: translateY(-50%);
        font-size: 18px;
        color: inherit;
        font-weight: 400;
      }
    }
    &:hover span::after {
      color: darken($color-white, 50%);
    }
  }
  &:hover {
    @include transition(300ms);
    color: darken($color-white, 20%);
  }
}
