.btn {
  position: relative;
  display: block;
  color: $color-white;
  // border-radius: 4px;
  padding: 20px;
  background-color: $color-green;
  max-width: 200px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-family: $primary-font-family;
  font-weight: bold;
  letter-spacing: 1.5px;
  @include transition(300ms);

  &:hover {
    @include transition(300ms);
    background-color: darken($color-green, 20%);
  }

  span {
    position: relative;
    display: inline-block;

    svg {
      display: block;
      width: 12px;
      height: 12px;
      position: absolute;
      right: -20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--arrow-down {
    fill: inherit;
    svg.icon-arrow-down {
      display: block;
    }
  }
  &--arrow-right {
    fill: inherit;
    svg.icon-arrow-right {
      width: 17px;
      display: block;
    }
  }
}
