.checkmark-wrapper {
  input {
    display: none;
  }
  input:checked ~ .checkmark {
    svg {
      display: block;
    }
  }
}
.checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border: solid 1px #d1d2d4;

  svg {
    display: none;
    width: 70%;
    height: 70%;
  }
}
