.intro {
  min-height: 800px;
  max-height: 807px;
  background-image: url('../img/intro-bg.jpg');
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  color: $color-white;
  box-sizing: border-box;

  h1 {
    display: block;
    padding-top: 145px;
    margin-top: 0;
    margin-bottom: 66px;
    max-width: 780px;
    line-height: 83px;
    font-size: 70px;
  }
}

.intro__list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 487px;
  max-width: 550px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 74px;
  margin-top: 40px;

  li {
    position: relative;
    display: block;
    margin-right: 36px;
    margin-left: 10px;
    padding-left: 18px;
    font-size: 20px;
    font-weight: bold;

    &:last-child {
      margin-right: 0;
    }

    svg {
      content: "";
      position: absolute;
      left: -9px;
      top: 2px;
      display: block;
      width: 17px;
      height: 18px;
      fill: $color-green;
    }
  }
}

.intro__btn {
  display: inline-block;
  vertical-align: middle;

  &:first-of-type {
    background-color: transparent;
    border: 1px solid $color-white;
    width: 251px;
    max-width: 300px;
    padding: 20px 0;
    padding-left: 23px;
    box-sizing: border-box;
    text-align: left;
    font-size: 14px;
    margin-left: 4px;
    letter-spacing: 1.5px;
    margin-right: 36px;
    text-align: center;

    span {
      position: relative;
      margin-right: 43px;
    }
    &:hover {
      @include transition(300ms);
      background-color: $color-white;
      color: $color-black;
      span::after {
        @include transition(300ms);
        color: $color-black;
      }
    }
  }
  &:last-of-type {
    border: 1px solid $color-green;
    width: 152px;
    max-width: 300px;

    &:hover {
        border: 1px solid lighten($color-black, 20%) !important;
    }
  }
}

.intro__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 156px;
  padding: 0 20px;
}

.intro__card {
  position: relative;
  background-color: $color-white;
  width: 270px !important;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 15px;
  @include transition(300ms);
  &:hover {
    @include transition(300ms);
    transform: translateY(-10px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  }
  h4 {
    font-family: $primary-font-family;
    font-size: 24px;
    font-weight: bold;
    color: $color-black;
    max-width: 60%;
    margin-top: 0;
  }
  .btn {
    letter-spacing: 0;
    background-color: transparent;
    border: 1px solid $color-purple;
    color: $color-purple;
    margin-top: 29px;

    &:hover {
      color: $color-white;
      background-color: $color-purple;
    }
  }
}

.intro__card .stiсker {
  display: block;
  top: 98px;
  background-color: $color-purple;
}

.intro__card-percent {
  position: relative;
  display: block;
  margin-top: 48px;
  font-size: 80px;
  font-weight: 300;
  letter-spacing: 0;
  font-family: $primary-font-family;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: -50px;
    font-size: 47px;
    line-height: 30px;
    display: block;
    width: 39px;

    font-family: $primary-font-family;
    font-weight: 600;
    color: $color-black;
  }
  &::before {
    top: 17px;
    right: 60px;
    font-weight: 400;
    content: "\0025"
  }
  &::after {
    top: 58px;
    right: 54px;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    letter-spacing: -0.6px;
    content: "And Less"
  }
}

.intro__card-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  img {
    margin-right: -10px;
    border-radius: 50%;

    &:nth-child(1) {
      z-index: 3;
    }
    &:nth-child(2) {
      z-index: 2;
    }
    &:nth-child(3) {
      z-index: 1;
      margin-right: 0px;
    }
  }
  a {
    font-size: 12px;
    font-weight: 600;
    margin-left: 23px;
    text-decoration: none;
    color: $color-purple;
  }
}
