.intro {
  min-height: 800px;
  max-height: 807px;
  background-image: url('../img/intro-bg.jpg');
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  color: $color-white;
  box-sizing: border-box;

  h1 {
    display: block;
    padding-top: 145px;
    margin-top: 0;
    margin-bottom: 66px;
    max-width: 780px;
    letter-spacing: -1px;
    line-height: 83px;
    font-size: 70px;
    font-weight: 600;
  }
}

.intro__list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 487px;
  max-width: 550px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 78px;
  margin-top: 40px;

  li {
    position: relative;
    display: block;
    margin-right: 39px;
    margin-left: 10px;
    padding-left: 18px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      content: "\2713";
      position: absolute;
      left: -9px;
      top: -2px;
      display: block;
      font-size: 22px;
      font-weight: 800;
      color: $color-green;
    }
  }
}

.intro__btn {
  display: inline-block;
  vertical-align: middle;

  &:first-of-type {
    background-color: transparent;
    border: 1px solid $color-white;
    width: 173px;
    max-width: 300px;
    padding: 20px 35px;
    padding-left: 41px;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-right: 36px;
    text-align: center;

    span {
      position: relative;
      margin-right: 21px;

      &::after {
        content: "\2193";
        position: absolute;
        top: 50%;
        right: -20px;
        transform: translateY(-50%);
        font-size: 16px;
        color: $color-white;
        font-weight: 400;
      }
    }
  }
  &:last-of-type {
    border: 1px solid $color-green;
    width: 152px;
    max-width: 300px;
  }
}

.intro__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 152px;
  padding: 0 20px;
}

.intro__card {
  position: relative;
  background-color: $color-white;
  width: 270px !important;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 15px;
  @include transition(300ms);
  &:hover {
    @include transition(300ms);
    transform: translateY(-10px);
  }
  h4 {
    font-family: $primary-font-family;
    font-size: 24px;
    font-weight: bold;
    color: $color-black;
    max-width: 60%;
    margin-top: 0;
  }
  .btn {
    letter-spacing: -0.6px;
    background-color: transparent;
    border: 1px solid $color-purple;
    color: $color-purple;
    margin-top: 30px;

    &:hover {
      color: $color-white;
      background-color: $color-purple;
    }
  }
}

.intro__card .stiсker {
  display: block;
  top: 98px;
  background-color: $color-purple;
}

.intro__card-percent {
  position: relative;
  display: block;
  margin-top: 48px;
  font-size: 80px;
  font-weight: 300;
  letter-spacing: -3.2px;
  font-family: $primary-font-family;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: -50px;
    font-size: 38px;
    line-height: 30px;
    display: block;
    width: 40px;

    font-family: $primary-font-family;
    font-weight: 600;
    color: $color-black;
  }
  &::before {
    top: 16px;
    right: 61px;
    font-weight: 400;
    content: "\0025"
  }
  &::after {
    top: 58px;
    right: 55px;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    letter-spacing: -0.6px;
    content: "And Less"
  }
}

.intro__card-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  img {
    margin-right: -10px;
    border-radius: 50%;

    &:nth-child(1) {
      z-index: 3;
    }
    &:nth-child(2) {
      z-index: 2;
    }
    &:nth-child(3) {
      z-index: 1;
      margin-right: 0px;
    }
  }
  a {
    font-size: 12px;
    font-weight: 600;
    margin-left: 18px;
    text-decoration: none;
    color: $color-purple;
  }
}
