.main {
  border-bottom: 2px solid $color-green;
}

.main__wrapper {
  &--gradient {
    background: rgba(0,0,0,1);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 35%, rgba(56,44,117,1) 100%);
    margin-bottom: 152px;
  }
}
