.modal-thanks-review,
.modal-thanks-cellphone,
.modal-complete-registered {
  display: none;
  box-sizing: border-box;
  max-width: 580px;
  max-height: 370px;
  padding: 0;
  padding-top: 70px;
  padding-bottom: 50px;

  svg {
    width: 69px;
    height: 72px;
    fill: $color-green;
  }
  h4 {
    margin-top: 28px;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
  }
  a {
    margin: 0 auto;
    height: 40px;
    padding: 0;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.4px;
    text-align: center;
  }
}
