.modal-cellphone,
.modal-cellphone-code {
  max-width: 580px;
  padding-top: 28px;
  padding-bottom: 15px;

  svg {
    width: 32px;
    height: 32px;
  }
}

.modal-cellphone__title,
.modal-cellphone-code__title {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.modal-cellphone__form,
.modal-cellphone-code__form {
  display: flex;
  flex-direction: column;

  label {
    margin: 10px;

    span {
      display: block;
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: $color-gray;
    }
    input {
      height: 40px;
      text-align: center;
      font-size: 30px;
      width: 100%;
      border: solid 1px #d1d2d4;
      outline: none;
    }
  }
  .modal-cellphone__btn,
  .modal-cellphone-code__btn {
    background: none;
    color: $color-gray;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.4px;
    text-align: center;
    text-transform: uppercase;
    height: 60px;
    line-height: 60px;
    cursor: pointer;

    &:hover {
      color: $color-green;
    }

    &:first-of-type {
      background-color: $color-green;
      color: $color-white;
      margin-top: 16px;

      &:hover {
        background-color: darken($color-green, 20%);
      }
    }
  }
}

.modal-cellphone-code__form {
  label {
    display: block;
    width: 60%;
    margin: 10px auto;
  }
}

.modal-cellphone-code__btn {
  width: 60%;
  margin: 10px auto;
}
