.nav-menu {
  z-index: 5;
  display: flex;
  flex: 1;
  text-align: right;
  overflow: hidden;
}

.nav-menu__wrapper {
  display: flex;
  position: relative;
  height: 100%;
  margin-left: auto;
}

.nav-menu__link {
  display: block;
  vertical-align: middle;
  padding: 22px 18px;
  margin: 0;
  color: $color-black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-weight: 800;
  font-size: 12px;
  @include transition(300ms);

  &:last-child {
    color: $color-gray;
  }
  &:hover {
    color: $color-green;
    @include transition(300ms);
  }
  &--active {
    color: $color-white;
    background-color: $color-green;
    @include transition(300ms);
    cursor: default;

    &:hover {
      color: $color-white;
    }
  }

  img {
    display: none;
  }
  &--login {
    font-size: 0;
    text-align: center;
    padding: 7px 18px;

    img {
      display: block;
      margin: 0 auto;
      border-radius: 50%;
    }
  }
}
