.nav-menu {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
  flex: 1;
  display: flex;
  text-align: right;
  overflow: hidden;

  &--open {
    box-sizing: border-box;
    left: 0;
    transition: 300ms ease;
    z-index: 2;
    transform:translateZ(1px);
    -webkit-transform: translateZ(1px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  }
}

.nav-menu__wrapper {
  display: flex;
  position: relative;
  height: 100%;
  margin-left: auto;
}

.nav-menu__link {
  display: block;
  vertical-align: middle;
  padding: 0 18px;
  height: 58px;
  line-height: 60px;
  margin: 0;
  color: $color-black;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
  letter-spacing: 1px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  @include transition(300ms);

  &:last-child {
    border-bottom: none;
  }
  &:hover {
    color: $color-green;
    @include transition(300ms);
  }
  &--second {
    color: $color-white;
    background-color: $color-green;
    @include transition(300ms);

    &:hover {
      background-color: darken($color-green, 20%);
    }
  }
  &--active {
    color: $color-white;
    background-color: $color-green;
    @include transition(300ms);
    cursor: default;

    &:hover {
      color: $color-white;
    }
  }
}

.nav-menu__login-img {
  font-size: 0 !important;
  text-align: center;

  div {
    position: relative;
    width: auto;
    display: inline-block;
    vertical-align: middle;

    &::before {
      content: "";
      position: absolute;
      top: 4px;
      right: -1px;
      display: block;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background-color: $color-green;
    }
  }

  img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
  }

  &--new-bids {
    div {
      &::before {
        background-color: $color-red;
      }
    }
  }
}

.nav-menu__submenu {
  z-index: 2;
  position: absolute;
  bottom: 90px;
  right: 20px;
  width: 190px !important;
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
  transition: 1s ease;
  background-color: #ffffff;
  border: 1px solid $color-gray;

  &::before {
    content: "";
    position: absolute;
    bottom: 90px;
    right: 13px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent $color-gray transparent;
  }

  &--open {
    bottom: -130px !important;
    transition: 300ms ease;

    &::before {
      content: "";
      position: absolute;
      top: -5px;
    }
  }
}

.nav-menu__submenu-link {
  display: block;
  vertical-align: middle;
  text-align: left;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid $color-gray;
  margin: 0;
  color: $color-black;
  text-decoration: none;
  text-transform: uppercase;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 12px;
  @include transition(300ms);

  &:last-child {
    border-bottom: none;
  }
  &:hover {
    background-color: $color-light-gray;
  }
}

.my-balance__amount {
  color: $color-red;
}


.nav-menu__login,
.nav-menu__logout {
  color: $color-gray !important;
  font-size: 10px;
}

.nav-menu__login-img {order: 5;}
.nav-menu__link--first {order: 1;}
.nav-menu__link--second {order: 2;}
.nav-menu__login {order: 3;}
.nav-menu__logout {order: 4;}
