.operations {
  margin-top: 20px;
  padding-bottom: 40px;
  background-color: #f1f2f2;
  background-image: url("../img/operations-bg.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.operations__list {
  margin-top: 95px;
  padding-top: 10px;
}

.operations__title {
  margin-top: 0;
  width: 100%;
  background-color: $color-white;
  height: 150px;
  letter-spacing: -1px;
  box-sizing: border-box;
  padding-top: 58px;
}

.operations__item {
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 164px;

  &:last-child {
    margin-bottom: 100px;
  }
}

.operations__name {
  flex-basis: 50%;
  text-align: center;
  color: $color-white;
  span {
    display: block;
    width: 100%;
    margin-top: 40px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
  }
  h4 {
    font-size: 40px;
    margin: 0;
    margin-top: 8px;
    letter-spacing: -0.8px;
    font-weight: bold;
  }
}

.operations__about {
  flex-basis: 50%;
  margin-right: auto;
  margin-left: 25px;
  margin-top: 60px;
  padding: 0 55px;
  max-width: 400px;
  height: 400px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $color-white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);

  p {
    font-size: 20px;
    color: #382c75;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 13px 0;
    letter-spacing: -0.6px;
  }
}

.operations__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 150px;
  width: 580px;
  max-width: 580px;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 20px;
  letter-spacing: 1px;

  span {
    margin-right: 29px;
    &::after {
      font-size: 30px;
      right: -40px;
    }
  }
  &:hover {
    background-color: $color-white;
    opacity: 1;

    span {
      color: $color-green;

      &::after {
        color: $color-green;
      }
    }
  }
}
