.operations {
  background: linear-gradient(to bottom, rgba(56,44,117,1) 0%, rgba(56,44,117,1) 62%, rgba(241,242,242,1) 62%, rgba(241,242,242,1) 100%);
}

.operations__wrapper {
  background-image: url("../img/operations-bg.png");
  background-position: bottom;
  background-size: contain;

}

.operations__title {

}
