.profile-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile-form__label {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 37px;
  align-items: center;
  width: 100%;
  text-align: left;

  &--half {
    flex-basis: 48%;
  }
}

.profile-form__label-name {
  display: block;
  flex-basis: 50%;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $color-gray;
}

.profile-form__label-link {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $color-gray;
}

.profile-form__select-wrapper {
  width: 100%;
  position: relative;
  height: 40px;
  cursor: pointer;
  margin-top: 7px;

  &::before {
    z-index: 2;
    content: "";
    position: absolute;
    right: 11px;
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
    display: block;
    width: 5px;
    height: 5px;
    border-left: 2px solid #8a8c8f;
    border-bottom: 2px solid #8a8c8f;
    transition: 500ms ease;
  }
}

.profile-form__textbox {
  cursor: pointer;
  background: #fff;
  border: solid 1px $color-input-border;
  pointer-events: none;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  padding: 0 8px;
  line-height: 40px;
  padding-right: 15px;
  box-sizing: border-box;
  outline: none;
  border: none;
  border: 1px solid darkgray;
  border-radius: 0px;
  outline: 1px solid #ccc;
  outline-offset: -1px;
  font-style: normal;
  font-weight: bold;
  color: #8a8c8f;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.profile-form__input {
  display: block;
  margin-top: 7px;
  flex-basis: 100%;
  padding-left: 10px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $color-black;
  border: solid 1px $color-input-border;

  &--no-changed {
    background-color: $color-light-gray;
    color: $color-gray;
    font-weight: normal;
  }

  &--select {
    cursor: pointer;
    margin-top: 0;

    option:first-child {
      display: none;
    }
  }
}

.profile-form__textarea {
  height: auto;
  min-height: 200px;
  resize: none;
  width: 100%;

  &:hover,
  &:focus {
    width: 100%;
  }
}

.profile-form__label--checkbox {
  justify-content: flex-start;
  flex-basis: 50%;
  align-self: baseline;
  margin-top: 4px;

  span {order: 2; flex-basis: auto;   cursor: pointer;}
  input {order: 3;}
  div {order: 1; flex-basis: auto; margin-right: 10px; cursor: pointer;}
}

.profile-form__btn-wrapper {
  text-align: right;
  flex-basis: 50%;
  max-width: 360px;
  margin-bottom: 40px;
  margin-top: 5px;

  label {
    display: inline-block;
    width: 175px;

    &:first-of-type {
      .profile-form__btn {
        background: none;
        color: $color-gray;
        padding: 0;
        width: 140px;

          &:hover {
            color: $color-green;
          }
        }
      }
  }
}

.profile-form__btn {
  display: inline-block;
  padding: 0;
  outline: none;
  border: none;
  height: 60px;
  width: 170px;
  margin: 0;
  cursor: pointer;
  box-sizing: border-box;
}

.profile-form__save-btn {
  position: relative;
  transition: 150ms;

  .profile-form__btn {
    cursor: pointer;
    background-color: $color-green;

    &:hover {
      background-color: darken($color-green, 20%);
    }

    &--saved {
      display: none;
    }
  }

  svg {
    position: absolute;
    z-index: 2;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    width: 17px;
    height: 17px;
    fill: $color-white;
  }

  &--saved {
    margin-right: 0;

    .profile-form__btn {
      background-color: $color-purple !important;

      &--saved {
        display: block;
        padding-left: 20px;
        margin-right: 0;
        width: 175px;
      }
      &--save {
        display: none;
      }
    }
    svg {
      display: block;
    }
  }

  &--disabled {
    .profile-form__btn {
      background-color: $color-gray;
      cursor: default;
    }
  }
}

.profile-form__label--cellphone {

  div {
    position: relative;
    width: 100%;
    margin-top: 7px;

    span {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      display: none;
    }
  }
  input {
    margin-top: 0;
    padding-right: 130px;
  }

}

.profile-form__hint {
  display: none;
}

.profile-form__hint {
  opacity: 0;
  visibility: hidden;
  z-index: 60;
  position: absolute !important;
  right: -10px;
  top: -73px;
  display: block;
  width: 236px !important;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  padding: 10px;
  background-color: #e5efec;
  border: 1px solid #0cb175;
  transition: 200ms;
  cursor: default;

  a {
    text-transform: uppercase;
    color: $color-green;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 150ms;

    &:hover {
      transition: 150ms;
      color: $color-gray;
    }
  }

  &::after {
    z-index: 50;
    content: "";
    position: absolute;
    bottom: -8px;
    right: 10px;
    transform:  rotate(-45deg);
    display: block;
    width: 14px;
    height: 14px;
    background-color: #e5efec;
    border: 1px solid #0cb175;
    border-right: none;
    border-top: none;
    transition: 200ms;
  }
}


.cellphone-verified {
  cursor: pointer;
  color: $color-green;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: default;

  .profile-form__verified {
    display: block;
    vertical-align: middle;

    svg {
      width: 20px;
      height: 20px;
      margin-left: 5px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}



.cellphone-not-verified {
  cursor: pointer;
  color: $color-orange;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1px;
  font-weight: bold;


  &:hover .profile-form__hint {
    visibility: visible;
    opacity: 1;
  }

  .profile-form__not-verified {
    display: block;
    vertical-align: middle;

    svg {
      width: 20px;
      height: 20px;
      margin-left: 5px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
