.relationships {
  margin-top: 40px;
  background-color: $color-green;
  color: $color-white;
  padding: 80px 0;

  h2 {
    flex: 1;
    margin-top: 20px;
    font-size: 70px;
    line-height: 84px;
    margin-right: 20px;
    letter-spacing: 0;
  }
}

.relationships__wrapper {
  display: flex;
}

.relationships__info {
  flex: 1;
  padding-left: 28px;

  p {
    font-size: 30px;
    color: $color-white;
    letter-spacing: 0;
    line-height: 37px;
  }
}

.relationships__btn {
  margin-top: 73px;
  padding-right: 35px;
  width: 215px;
  max-width: 240px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid $color-white;
  @include transition(300ms);

  &:hover {
    @include transition(300ms);
    background-color: $color-white;
    color: $color-green;
  }
  span {
    svg {
      right: -32px;
    }
  }
}
