.logo {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  padding-top: 20px;
  margin-left: 20px;
  color: #3B414C;

  &--color {
    color: #ffffff;
  }
  img {
    width: 200px;
    height: 61px;
  }
}
