.logo {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
  padding-top: 34px;
  margin-left: 20px;
  margin-right: auto;
  color: #3B414C;
  animation-name: show-from-up;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-fill-mode: both;

  &--color {
    color: #ffffff;
  }
  img {
    text-align: left;
    width: 140px;
    height: 41px;
  }
}
