.nav-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}

.nav-menu__link {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 10px;
  padding-bottom: 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  font-family: $primary-font-family;
  transition: 500ms ease;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 0%;
    height: 3px;
    background-color: #3cbfbe;
    transition: 500ms ease;
  }
  &:hover {
    &::after {
      display: block;
      width: 50%;
      transition: 500ms ease;
    }
  }
  &--active {
    &::after {
      width: 50%;
      transition: 500ms ease;
    }
  }
}
