.task {
  border-bottom: 1px solid black;
}

.btn-wrapper {
  position: relative;
  margin-bottom: 30px;
}

.showAnswerBtn {
  display: none;
}

.showAnswerBtn__label {
  display: block;
  padding-top: 30px;
}

.showAnswerBtn__label::before {
  content: "Показать ответ";
  position: absolute;
  left: 0px;
  top: 7px;
  display: block;
  width: 200px;
  height: 25px;
  cursor: pointer;
  padding-top: 5px;
  text-align: center;
  border: 1px solid black;
}

.showAnswerBtn__label:hover::before {
  border: 1px solid black;
}

pre {
  white-space: pre-wrap;
}

.showAnswerBtn__label pre {
  display: none;
}

.showAnswerBtn:checked ~ .showAnswerBtn__label::before {
  content: "Скрыть ответ";
  border: none;
}

.showAnswerBtn:checked ~ .showAnswerBtn__label pre {
  display: block;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.main-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.link {
  text-decoration: none;
  padding: 5px;
  text-align: center;
}

.link:hover {
  color: black;
}


.link-back {
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  padding: 5px;
  text-align: center;
}
